/*============= Global ancher link color style ==========*/
a {
  color:#ed6e13;
}
a:hover, a:active {
  color:#ed6e13;
  text-decoration:underline;
}
a.highlight:link, a.highlight:visited {
  color:#666;
}
a.highlight:hover, a.highlight:active {
  color:#ed6e13;
  text-decoration:none;
}
a.active:link, a.active:visited {
  color:#ed6e13;
  cursor:default;
}

/*=================== dropdown =============*/
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background:#5d514b;
  background-color:#5d514b;
  filter:#5d514b;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background:#5d514b;
  background-color:#5d514b;
  filter: #5d514b;
}

/*==================== navbar =================*/
.navbar .nav > li:hover {
  background:#5d514b;
}
/* active link */
.navbar .nav .active a,
.navbar .nav .active a:hover,
.navbar .nav .active a:focus
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > .active > a i,
.navbar .nav > .active > a:focus i,
.navbar .nav > .active > a:hover i,
.navbar .nav > .active > a span,
.navbar .nav > .active > a:focus span,
.navbar .nav > .active > a:hover span {
  background: #5d514b;
  background-color: #5d514b;
  filter:#5d514b;
}
/* nested ul */
.navbar .nav div {
  background: #5d514b;
}


/*========== btn-primary (orange-btn) ==========*/
.btn-primary {
  border:1px solid #5d514b;
  background: #72655c;
background: -moz-linear-gradient(top, #72655c 0%, #5d514b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72655c), color-stop(100%,#5d514b));
background: -webkit-linear-gradient(top, #72655c 0%,#5d514b 100%);
background: -o-linear-gradient(top, #72655c 0%,#5d514b 100%);
background: -ms-linear-gradient(top, #72655c 0%,#5d514b 100%);
background: linear-gradient(to bottom, #72655c 0%,#5d514b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72655c', endColorstr='#5d514b',GradientType=0 );
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background: #5d514b;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #72655c;
}