@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) central stylesheet
 * (de) zentrales Stylesheet
 *
 * @creator       YAML Builder V1.2 (http://builder.yaml.de)
 * @file          my_layout.css
 * @-yaml-minver  3.2
 *
 */

/* import core styles | Basis-Stylesheets einbinden */
@import url(../../silvercart/yaml/core/base.css);

/* import screen layout | Screen-Layout einbinden */
@import url(navigation/nav_shinybuttons.css);
@import url(navigation/nav_vlist.css);
@import url(screen/basemod.css);
@import url(screen/content.css);
@import url(screen/forms.css);

/* import print layout | Druck-Layout einbinden */
@import url(print/print_draft.css);