/* General settings -------------------------------------------------------- */

form.yform span.required-field {
    font-size:                      smaller;
    color:                          #aaa;
}

form.yform input,
form.yform textarea,
form.yform select {
    font-family:                    verdana, sans-serif;
    line-height:                    100%;
}

form.yform .type-button {
    text-align:                     right;
}

.yform.silvercart-system-form .field, .yform div.type-text, .yform div.type-select, .yform div.type-check, .yform div.type-button {
    padding-left:                   0px;
    padding-right:                  0px;
}

.yform.silvercart-system-form .Actions input[type="submit"],
form.yform input[type="submit"],
form.yform .type-button input[type="submit"],
form.yform .type-button input.action[type="submit"],
form.yform .type-button input.submit {
    float:                          right;
    height:                         30px;
    margin:                         0px 0px 0px 4px;
    padding:                        4px 10px;
    font-size:                      11px;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    $DefaultSubmitButton.Css
}
form.yform input[type="submit"] {
    padding:                        2px 8px;
}
.yform.silvercart-system-form .Actions input[type="submit"]:hover,
form.yform input[type="submit"]:hover,
form.yform .type-button input[type="submit"]:hover,
form.yform .type-button input.action[type="submit"]:hover,
form.yform .type-button input.submit:hover {
    cursor:                         pointer;
    $DefaultSubmitButton.CssHover
}
form.yform input[type="password"],
form.yform input[type="text"] {
    padding:                        2px 4px;
}
form.yform .type-button .silvercart-button {
    margin:                         0px;
}
form.yform .type-button .silvercart-button a {
    line-height:                    28px;
    height:                         28px;
    padding-top:                    0px;
    padding-bottom:                 0px;
    vertical-align:                 middle;
}

/* Quicksearch form -------------------------------------------------------- */

#silvercart-quicksearch-form {
    padding:                        3px 0px 0px 0px;
}

#silvercart-quicksearch-form form.yform {
    float:                          left;
    margin:                         0px;
    padding:                        0px;
    background:                     none;
    border:                         none;
}

#silvercart-quicksearch-form form.yform div.type-text {
    clear:                          none;
    float:                          left;
    margin:                         0px;
    padding:                        0px;
}
#silvercart-quicksearch-form form.yform div.type-text input { /* Search query field */
    height:                         13px;
    width:                          14em;
    padding:                        5px 4px;
    font-size:                      11px;
    line-height:                    100%;
    color:                          #ddd;
    background:                     #6d6a68;
    border:                         1px #2f2f2f solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
#silvercart-quicksearch-form form.yform div.type-text input:hover,
#silvercart-quicksearch-form form.yform div.type-text input:active,
#silvercart-quicksearch-form form.yform div.type-text input:focus {
    color:                          #fff;
    background-color:               #86827f;
    border-color:                   #232323;
}
#silvercart-quicksearch-form form.yform input {
    clear:                          none;
    float:                          left;
}
#silvercart-quicksearch-form form.yform input.action { /* Submit button */
    height:                         25px;
    font-size:                      11px;
    color:                          #fff;
    background-color:               #42403e;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #444444,  #000000); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #444444,  #000000); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000'); /* for IE */
    border:                         1px #191919 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    padding:                        0px 10px;
}
#silvercart-quicksearch-form form.yform input.action:hover {
    cursor:                         pointer;
    text-decoration:                none;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#616161), to(#1a1a1a)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #616161,  #1a1a1a); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #616161,  #1a1a1a); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#1a1a1a'); /* for IE */
    border:                         1px #2a2a2a solid;
}

/* Quicklogin form --------------------------------------------------------- */

#silvercart-quicklogin-form {
    display:                        none;
    z-index:                        300;
    width:                          320px;
    position:                       absolute;
    top:                            31px;
    left:                           508px;
    color:                          #fff;
    border:                         1px #000 solid;
    border-top:                     none;
    border-bottom-left-radius:      3px;
    border-bottom-right-radius:     3px;
    -moz--border-radius-bottomleft: 3px;
    -moz--border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius:  3px;
    background-color:               #363636;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#363636), to(#222222)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #363636,  #222222); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #363636,  #222222); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#363636', endColorstr='#222222'); /* for IE */
    box-shadow:                     0px 0px 9px #363636;
}
#silvercart-quicklogin-form .yform div.error,
#silvercart-quicklogin-form .yform div.note {
    color:                          #ff9a9a;
    background-color:               #451515;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#451515), to(#752323)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top, #451515, #752323); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #451515,  #752323); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#451515', endColorstr='#752323'); /* for IE */
    border:                         1px #752323 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    margin:                         0px 4px 4px 0px;
}
#silvercart-quicklogin-form  .yform div.error .message,
#silvercart-quicklogin-form  .yform div.note .message {
    font-weight:                    normal;
    color:                          #ff9a9a;
}
#silvercart-quicklogin-form_content {
    padding:                        4px 5px 8px 10px;
}
#silvercart-quicklogin-form a,
#silvercart-quicklogin-form a:hover,
#silvercart-quicklogin-form a:active,
#silvercart-quicklogin-form a:focus,
#silvercart-quicklogin-form a:visited {
    color:                          #fff;
    display:                        block;
    margin-bottom:                  6px;
}
#silvercart-quicklogin-form form.yform {
    margin:                         0px;
    padding:                        0px;
    
    background:                     none;
    border:                         none;
}
#silvercart-quicklogin-form form.yform label {
    padding:                        0px 0px 3px 0px;
    
    color:                          #fff;
}
#silvercart-quicklogin-form form.yform .type-text {
    padding:                        0px 4px 4px 4px;
}
#silvercart-quicklogin-form form.yform .type-text input { /* Input[text] fields */
    width:                          90%;
    font-size:                      12px;
    color:                          #ddd;
    background:                     #5f5c5a;
    border:                         1px #191919 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
#silvercart-quicklogin-form form.yform .type-text input:hover,
#silvercart-quicklogin-form form.yform .type-text input:active,
#silvercart-quicklogin-form form.yform .type-text input:focus {
    color:                          #fff;
    background-color:               #86827f;
    border-color:                   #232323;
}
#silvercart-quicklogin-form form.yform #silvercart-quicklogin-form-actions {
    text-align:                     right;
    padding:                        0px 6px 0px 0px;
}
#silvercart-quicklogin-form form.yform #silvercart-quicklogin-form-actions input { /* Submit and cancel buttons */
    height:                         30px;
    padding:                        3px 10px 3px 10px;
    font-size:                      11px;
    color:                          #fff;
    background-color:               #42403e;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #444444,  #000000); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #444444,  #000000); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000'); /* for IE */
    border:                         1px #191919 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
#silvercart-quicklogin-form form.yform #silvercart-quicklogin-form-actions input:hover,
#silvercart-quicklogin-form form.yform #silvercart-quicklogin-form-actions input:active,
#silvercart-quicklogin-form form.yform #silvercart-quicklogin-form-actions input:focus {
    cursor:                         pointer;
    text-decoration:                none;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#616161), to(#1a1a1a)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #616161,  #1a1a1a); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #616161,  #1a1a1a); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#1a1a1a'); /* for IE */
    border:                         1px #2a2a2a solid;
}


/* Widget Login form --------------------------------------------------------- */

.silvercart-widget-login form.yform div.note {
    color:                          #000;
    background-color:               transparent;
    border:                         none;
    margin:                         0px 4px 4px 0px;
    padding:                        10px 0 0 0;
}

.check-group .type-check {
    width: 33%;
    display: inline-block;
}



  /* Columnar display | Spalten-Darstellung */
  .columnar .type-text label,
  .columnar .type-select label {
    float:left;
    width:25%; /* Can be fixed width too | Kann auch eine fixe Angabe sein */
    padding-top: 4px;
  }

  /* Indent Checkbox fields to match label-width | Checkboxen um den gleichen Wert einrücken, wie die Breite der labels */
  .columnar div.type-check input { margin-left:25%; }
  .columnar div.error .message { margin-left:25%; }

  .columnar fieldset div.type-button,
  fieldset.columnar div.type-button { padding-left:25%; }

  .columnar div.type-text input,
  .columnar div.type-text textarea { float:left; width:72.8%; margin-right: -3px; }
  .columnar div.type-select select { float:left; width:74.4%; margin-right: -3px; }
  
  .columnar.smallfields div.type-text input,
  .columnar.smallfields div.type-text textarea { float:left; width:42.8%; margin-right: -3px; }
  .columnar.smallfields div.type-select select { float:left; width:44.4%; margin-right: -3px; }
  
  .columnar.smallfields div.type-text.two-fields input { width:30.0%; margin-right: 0px; }
  .columnar.smallfields div.type-text.two-fields span.spacer { float:left; width:2.8%; text-align: center; display: inline-block; }
  .columnar.smallfields div.type-text.two-fields input + span + input { width:9.0%; margin-right: -3px; }
  
  .columnar.smallfields div.type-text.two-fields.ltr input { width:9.0%; }
  .columnar.smallfields div.type-text.two-fields.ltr input + span + input { width:30.0%; }
  
  /* width adjustments for IE 5.x & IE6 | Breitenanpassung für Internet Explorer 5.x und 6.0 */
  * html .columnar div.type-text input,
  * html .columnar div.type-text textarea { width:72.2%; }
  * html .columnar div.type-select select { width:73.8%; }
  
  * html .columnar.smallfields div.type-text input,
  * html .columnar.smallfields div.type-text textarea { width:42.2%; }
  * html .columnar.smallfields div.type-select select { width:43.8%; }
  

/* Multiple choice selection fields ------------------------------------------ */
.multiple-choice .type-text {
    height: 35px;
}
.multiple-choice .type-text label {
    float: left;
    width: 220px;
    line-height: 35px;
}
.multiple-choice .type-text ul {
    float: left;
    margin-left: 230px;
}

/* Optionset/Checkboxset fields ---------------------------------------------- */
ul.optionset.checkboxset {
    position: relative;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    
    border: 1px solid #cccccc;
    background-color: #ffffff;
    width: 220px;
    height: 28px;
    line-height: 28px;
    border-radius: 6px;
}
ul.optionset.checkboxset.hover,
ul.optionset.checkboxset:hover {
    width: 300px;
    height: auto;
    position: absolute;
    left: 218px;
    z-index: 60;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), inset 0px 5px 30px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 16px #CCC;
}
.columnar .multiple-choice .type-text label {
    width: 25%;
}
.columnar ul.optionset.checkboxset.hover,
.columnar ul.optionset.checkboxset:hover {
    left: 25%;
}
.checkbox-set-2-columns ul.optionset.checkboxset.hover,
.checkbox-set-2-columns ul.optionset.checkboxset:hover {
    width: 500px;
}
ul.optionset.checkboxset li {
    display: none;
    height: 28px;
    line-height: 28px;
    position: relative;
    z-index: 50;
    margin: 0;
    margin: -1px -1px 0  -1px;
    padding: 0 6px;
}
ul.optionset.checkboxset li.selected-options-preview {
    display: block;
}
ul.optionset.checkboxset li.selected-options-preview.hidden {
    display: none;
}
ul.optionset.checkboxset.hover li.selected-options-preview,
ul.optionset.checkboxset:hover li.selected-options-preview {
    display: none;
}
ul.optionset.checkboxset li.selected-options-preview .caret {
    float: right;
    margin: 12px 2px;
}
ul.optionset.checkboxset.hover li,
ul.optionset.checkboxset:hover li {
    display: inline-block;
    width:  220px;
    z-index: 51;
}
ul.optionset.checkboxset li.checked {
    display: inline-block !important;
}
ul.optionset.checkboxset li label {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0;
    display: inline-block;
    width: auto;
    float: none;
}
ul.optionset.checkboxset li input {
    margin: 0;
    line-height: 28px;
    display: inline-block;
    width: auto;
    float: none;
}