.silvercart-product-group-holder-toolbar_content {
    padding:                        4px;
    background:                     #ffffff;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ffffff)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #fafafa,  #ffffff); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #fafafa,  #ffffff); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffffff'); /* for IE */
    border:                         1px #e1e1e1 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-product-group-holder-toolbar ul {
    float:                          right;
    margin:                         0px;
    padding:                        0px;
    
    list-style:                     none;
}
.silvercart-product-group-holder-toolbar ul li {
    float:                          right;
    margin:                         0px;
    padding:                        0px 2px 0px 0px;
}
.silvercart-product-group-holder-toolbar ul li a {
    display:                        block;
    width:                          20px;
    height:                         20px;
    
    text-align:                     center;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    $DefaultButton.Css
}
.silvercart-product-group-holder-toolbar ul li.active strong {
    display:                        block;
    width:                          20px;
    height:                         20px;
    
    text-align:                     center;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    $DefaultButton.CssActive
}
.silvercart-product-group-holder-toolbar ul li a:hover {
    text-decoration:                none;
    $DefaultButton.CssHover
}

/* Links to group views ---------------------------------------------------- */

.silvercart-group-view-link {
    float:                          right;
}
.silvercart-group-view-link_content {
    padding:                        0px 2px 0px 0px;
}
.silvercart-group-view-link a {
    display:                        block;
    width:                          20px;
    height:                         20px;
    
    text-align:                     center;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    $DefaultButton.Css
}
.silvercart-group-view-link a:hover {
    text-decoration:                none;
    $DefaultButton.CssHover
}

/* Marker for the current active group view -------------------------------- */

.silvercart-group-view-marker {
    float:                          right;
}
.silvercart-group-view-marker_content {
    padding:                        0px 2px 0px 0px;
}
.silvercart-group-view-marker strong {
    display:                        block;
    width:                          20px;
    height:                         20px;
    
    font-weight:                    normal;
    text-align:                     center;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    $DefaultButton.CssActive
}
