/* Links to result pages --------------------------------------------------- */

.silvercart-pagination {
    font-size:                      11px;
    line-height:                    140%;
}

.silvercart-pagination-summary span {
    display:                        block;
    height:                         20px;
    line-height:                    280%;
}

.silvercart-pagination-link,
.silvercart-pagination-summary {
    float:                          left;
}
.silvercart-pagination-link_content {
    padding:                        0px 2px 0px 0px;
}
.silvercart-pagination-link a {
    display:                        block;
    width:                          20px;
    height:                         20px;
    text-align:                     center;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    $DefaultButton.Css
}
.silvercart-pagination-link a:hover {
    text-decoration:                none;
    $DefaultButton.CssHover
}
.silvercart-pagination-link a span {
    display:                        block;
    padding:                        3px 0px 0px 0px;
}

/* Marker for the current active page -------------------------------------- */

.silvercart-pagination-marker {
    float:                          left;
}
.silvercart-pagination-marker_content {
    padding:                        0px 2px 0px 0px;
}
.silvercart-pagination-marker strong {
    display:                        block;
    width:                          20px;
    height:                         20px;
    
    font-weight:                    normal;
    text-align:                     center;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    $DefaultButton.CssActive
}
.silvercart-pagination-marker strong span {
    display:                        block;
    padding:                        3px 0px 0px 0px;
}
.centered-pagination {
    text-align: center;
    margin-top: 10px;
}
