
.equalize .silvercart-address-radiofield,
.silvercart-address-radiofield {
    text-align: right;
    vertical-align: middle;
}
.silvercart-address-radiofield input {
    float: right;
}
.silvercart-checkout-annotation {
    position:                   relative;
    clear:                      both;
    padding:                    20px 0px 0px 0px;
}
.silvercart-checkout-annotation form.yform {
    background:                 none;
    border:                     none;
    margin:                     0px;
    padding:                    0px;
}

/* step 3 - shipping method */
.silvercart-checkout-shipping {}
.silvercart-checkout-shipping li {
    padding:                    12px 0px;
}
.silvercart-checkout-shipping li:after {
    clear:                      both;
    content:                    ".";
    display:                    block;
    font-size:                  0;
    height:                     0;
    visibility:                 hidden;
}
.silvercart-checkout-shipping-radiofield {
    float:                      left;
    width:                      5%;
    padding:                    3px 0px;
}
.silvercart-checkout-shipping-additionalInfo {
    float:                      left;
    width:                      85%;
}
.silvercart-checkout-shipping-additionalInfo-description {}


/* step 5 - overview */
#silvercart-checkout-privacy-check fieldset,
#silvercart-checkout-note fieldset {
    min-height:                 95px;
}

#silvercart-checkout-note textarea {
    height:                     53px;
    width:                      94.5%;
}

.checkout-change-area {
    position: relative;
}
.checkout-change-button {
    position: absolute;
    right: 6px;
    top: 6px;
}
.subcl.checkout-change-area .checkout-change-button {
    margin-right: 1em;
}

.tax-and-duty-hint {
    font-weight: bold;
    text-decoration: underline;
    text-align: right;
}

.price.highlighted {
    color: {$DefaultLinkHoverColor};
}
.silvercart-quantity-label,
table.silvercart-shopping-cart-full td.price {
    font-size: 16px;
    color: {$DefaultLinkHoverColor};
}
table.silvercart-shopping-cart-full td.price.total {
    font-weight: bold;
    text-decoration: underline;
}
small.delivery-time-hint {
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    display: inline-block;
}
.silvercart-highlighted-box.h90 {
    min-height: 90px;
}