
.equalize .silvercart-address-radiofield,
.silvercart-address-radiofield {
    text-align: right;
    vertical-align: middle;
}
.silvercart-address-radiofield input {
    float: right;
}
.silvercart-checkout-annotation {
    position:                   relative;
    clear:                      both;
    padding:                    20px 0px 0px 0px;
}
.silvercart-checkout-annotation form.yform {
    background:                 none;
    border:                     none;
    margin:                     0px;
    padding:                    0px;
}

/* step 3 - shipping method */
.silvercart-checkout-shipping {}
.silvercart-checkout-shipping li {
    padding:                    12px 0px;
}
.silvercart-checkout-shipping li:after {
    clear:                      both;
    content:                    ".";
    display:                    block;
    font-size:                  0;
    height:                     0;
    visibility:                 hidden;
}
.silvercart-checkout-shipping-radiofield {
    float:                      left;
    width:                      5%;
    padding:                    3px 0px;
}
.silvercart-checkout-shipping-additionalInfo {
    float:                      left;
    width:                      85%;
}
.silvercart-checkout-shipping-additionalInfo-description {}


/* step 5 - overview */
#silvercart-checkout-privacy-check fieldset,
#silvercart-checkout-note fieldset {
    min-height:                 150px;
}

#silvercart-checkout-note textarea {
    height:                     105px;
}