.silvercart-product-actions {
    margin:                         0px 0px 10px 0px;
}

.silvercart-product-page .silvercart-product-title {
    border-bottom:                  2px #ddd dotted;
    margin:                         0px 0px 14px 0px;
}
.silvercart-product-page .silvercart-product-meta-info p {
    margin:                         0px 0px 3px 0px;
    padding:                        0px;
}

#col1 .silvercart-product-page .silvercart-product-title h2,
#col4 .silvercart-product-page .silvercart-product-title h2 {
    margin:                         26px 0px 2px 0px;
    padding:                        0px;
    
    font-size:                      20px;
    border:                         none;
}

.silvercart-product-page .silvercart-product-page-box-price {
    text-align:                     right;
}
.silvercart-product-page .silvercart-product-page-box-price .silvercart-price {
    font-size:                      18px;
}
.silvercart-product-page .silvercart-product-page-box-price small {
    font-size:                      10px;
    line-height:                    130%;
}

.silvercart-product-page .silvercart-product-page-box-images {
    text-align:                     center;
}
.silvercart-product-page .silvercart-product-page-box-images img {
    display:                        inline-block;
}
.silvercart-product-page-box-image {
    margin:                         0px 0px 10px 0px;
}
.silvercart-product-image-list-entry {
    float:                          left;
}
.silvercart-product-image-list-entry_content {
    padding:                        0px 0px 8px 8px;
}

.silvercart-product-page form.yform {
    margin:                         0px;
    padding:                        0px;
    
    border:                         none;
    background:                     none;
}
.silvercart-product-page form.yform fieldset {
    margin:                         0px;
    padding:                        0px;
    
    border:                         none;
    background:                     none;
}
.silvercart-product-page .silvercart-product-availability,
.silvercart-product-page .silvercart-product-meta-data {
    text-align:                     right;
    margin:                         0px 0px 8px 0px;
    display:                        block;
}
.silvercart-product-page .silvercart-product-availability:after,
.silvercart-product-page .silvercart-product-meta-data:after {
    clear:                          both;
    content:                        ".";
    display:                        block;
    font-size:                      0;
    height:                         0;
    visibility:                     hidden;
}
.silvercart-product-page .silvercart-product-group-add-cart-form input.text {
    width:                          2em;
    height:                         28px;
    padding:                        0px 8px;
    line-height:                    28px;
    vertical-align:                 middle;
    font-size:                      11px;
    border:                         1px #333 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-product-page .silvercart-product-group-add-cart-form input.text:hover,
.silvercart-product-page .silvercart-product-group-add-cart-form input.text:focus {
    color:                          #000;
    background-color:               #ddd;
}
.silvercart-product-page .silvercart-product-group-add-cart-form form.yform label {
    display:                        none;
}
.silvercart-product-page .silvercart-product-group-add-cart-form {
    text-align:                     right;
    margin:                         0px 0px 8px 0px;
}
.silvercart-product-page .silvercart-product-group-add-cart-form_content {
    padding:                        4px 0px;
}

.silvercart-product-page .silvercart-product-page-product-info {
    margin:                         20px 0px 0px 0px;
}

/* file tab ------------------------------------------------------------ */

.silvercart-product-page-downloads-entry {
    border-bottom:              1px #eee solid;
    margin:                     0px 0px 10px 0px;
    padding:                    0px 0px 10px 0px;
}

/* Tabs ---------------------------------------------------------------- */

ul.tabs {
    margin:                     0;
    padding:                    0;
    float:                      left;
    height:                     32px; /*--Set height of tabs--*/
    width:                      100%;
    
    list-style:                 none;
    border-bottom:              1px solid #ddd;
    border-left:                1px solid #ddd;
}
ul.tabs li {
    float:                      left;
    margin:                     0;
    padding:                    0;
    height:                     31px; /*--Subtract 1px from the height of the unordered list--*/
    margin-bottom:              -1px; /*--Pull the list item down 1px--*/
    overflow:                   hidden;
    position:                   relative;
    
    line-height:                31px; /*--Vertically aligns the text within the tab--*/
    border:                     1px solid #ddd;
    border-left:                none;
    background:                 #eee; /* background color of inactive tabs */
}
ul.tabs li a {
    display:                    block;
    padding:                    0 10px;
    outline:                    none;
    
    text-decoration:            none;
    color:                      #000;
    font-size:                  12px;
    border:                     1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
}
ul.tabs li a:hover {
    background:                 #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
    background:                 #fff;
    border-bottom:              1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
    overflow:                   hidden;
    clear:                      both;
    float:                      left; width: 100%;
    
    border:                     1px solid #ddd;
    border-top:                 none;
    border-bottom-left-radius:          3px;
    -moz-border-radius-bottomleft:      3px;
    -webkit-border-bottom-left-radius:  3px;
    border-bottom-right-radius:         3px;
    -moz-border-radius-bottomright:     3px;
    -webkit-border-bottom-right-radius: 3px;
    background:                 #fff;
}
.tab_content {
    padding:                    20px;
    
    font-size:                  12px;
}
.tab_content h2.hidden {
    display: none;
}
