@media print
{
    body {
        font-size:10pt;
    }
    #topnav,
    #nav,
    #search,
    .silvercart-admin-bar,
    #silvercart-header,
    #silvercart-headerbar,
    #silvercart-productgroup-navigation,
    #silvercart-footer,
    .silvercart-breadcrumbs,
    .silvercart-product-actions,
    ul.tabs,
    form {
        display: none;
    }
    #col3_content,
    .page,
    .silvercart-widget_content {
        background: #ffffff;
        border-left: none;
        box-shadow: none;
    }
    .tab_container {
        border: none !important;
    }
    .tab_content,
    .tab_content h2.hidden {
        display: block !important;
    }
    
    h1,h2,h3,h4,h5,h6 {
        page-break-after:avoid;
    }
}
