.subcolumns { width:100%; overflow:hidden; }

.c10l, .c20l, .c25l, .c33l, .c40l, .c45l, .c38l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l { float:left; }
.c10r, .c20r, .c25r, .c33r, .c40r, .c45r, .c38r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r { float:right; margin-left:-5px; }

.c10l, .c10r { width:10%; }
.c20l, .c20r { width:20%; }
.c40l, .c40r { width:40%; }
.c45l, .c45r { width:45%; }
.c60l, .c60r { width:60%; }
.c80l, .c80r { width:80%; }
.c25l, .c25r { width:25%; }
.c33l, .c33r { width:33.333%; }
.c50l, .c50r { width:50%; }
.c66l, .c66r { width:66.666%; }
.c75l, .c75r { width:75%; }
.c38l, .c38r { width:38.2%; }
.c62l, .c62r { width:61.8%; }

.subc  { padding:0 0.5em; }
.subcl { padding:0 1em 0 0; }
.subcr { padding:0 0 0 1em; }

.silvercart-manymanyorder-field {
    width:                              680px;
}
.silvercart-manymanyorder-field-available-items,
.silvercart-manymanyorder-field-selected-items {
    width:                              99%;
    height:                             300px;
    background-color:                   #eee;
    border:                             1px #bbb solid;
    padding:                            4px;
}
.silvercart-manymanyorder-field-middle-button {
    width:                              95%;
    margin:                             0px 0px 4px 0px;
    padding:                            4px 8px;
}
.silvercart-manymanyorder-field-action-row {
    margin:                             4px 0px 0px 0px;
}
.silvercart-manymanyorder-field-action-row input {
    padding:                            4px 8px;
}

#SilvercartManyManyOrderFieldEditForm {
    z-index:                            99;
    position:                           absolute;
    left:                               50%;
    top:                                120px;
    width:                              900px;
    height:                             610px;
    margin:                             0px 0px 0px -450px;
    background-color:                   #fff;
    border:                             1px #999 solid;
    
}
#SilvercartManyManyOrderFieldEditForm_Form {
    width:                              100%;
    height:                             574px;
    overflow:                           auto;
}
#SilvercartManyManyOrderFieldEditForm_content {
    padding:                            8px;
}
#SilvercartManyManyOrderFieldEditForm_Controls {
    clear:                              both;
    padding:                            6px 0px 0px 0px;
}
#SilvercartManyManyOrderFieldEditForm_Controls a {
    padding:                            4px 8px;
}
#SilvercartManyManyOrderFieldEditForm_Form .Actions {
    margin:                             8px 0px 10px 0px;
}

#SilvercartOverlay {
    display:                            none;
    z-index:                            90;
    position:                           absolute;
    left:                               0px;
    top:                                0px;
    width:                              100%;
    height:                             100%;
    background:                         rgb(40,40,40) transparent;
    background:                         rgba(40,40,40,0.8);
    filter:                             progid:DXImageTransform.Microsoft.gradient(startColorstr=#80282828, endColorstr=#80282828);
    -ms-filter:                         "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80282828, endColorstr=#80282828)";
}

.action_doAttributeItems,
.action_doRemoveItems,
.action_doEditItem,
.action_doMoveDownItems,
.action_doMoveUpItems {
    width:                              26px;
    height:                             26px;
    border:                             1px #ddd solid;
    padding:                            0px;
}

.silvercart-manymanyorder-field .c10l {
    text-align:                         center;
}
.action_doAttributeItems {
    background:                         url("../../../images/icons/cheser/16x16_go-next.png") center center no-repeat;
    margin-bottom:                      4px;
}
.action_doRemoveItems {
    background:                         url("../../../images/icons/cheser/16x16_go-previous.png") center center no-repeat;
}
.action_doEditItem {
    background:                         url("../../../images/icons/cheser/16x16_edit.png") center center no-repeat;
}
.action_doMoveUpItems {
    background:                         url("../../../images/icons/cheser/16x16_go-up.png") center center no-repeat;
}
.action_doMoveDownItems {
    background:                         url("../../../images/icons/cheser/16x16_go-down.png") center center no-repeat;
}

