.silvercart-batch-options {
    position: relative;
}

#silvercart-batch-option-loading-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../../../images/loader.gif') 155px 1px no-repeat #eeeeee;
    display: none;
}