/* Slidorion Stylesheet */
.silvercart-widget-slidorion-productgroup-slider {
    width: 658px;			/* Set to slidorion width. Is equal to #slider + .silvercart-slidorion-accordeon width */
    height: 400px;			/* Set to slidorion height. Is equal to #slider and .silvercart-slidorion-accordeon height */
    position: relative;
    left: 50%;
    margin-left: -330px;
    border: 1px solid #e2e2e2;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}

.silvercart-slidorion-slider {
    width: 426px;			/* Set to slider width */
    height: 384px;			/* Set to slider height */
    position: relative;
    float: left;
    overflow: hidden;		/* Hides the animations */
    margin: 8px;
}

.silvercart-slidorion-slider > div {
    position:absolute;
    left: 0px;
    top: 0px;
    width:98%;
    height:98%;
    padding: 1%;
}

.silvercart-slidorion-accordeon {
    width: 215px;			/* Set to accordion width */
    height: 400px;			/* Set to image height */
    font-family: Verdana;
    border-left: 1px #e2e2e2 solid;
    position: relative;
    z-index:59;
    overflow: hidden;
    float: left;
}

.silvercart-slidorion-accordeon > .silvercart-slidorion-link-header {
    height: 30px;
    font-size: 11px;
    color: #333;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EDEDED));
    background: -moz-linear-gradient(top, white, #EDEDED);
    background: -o-linear-gradient(top, white, #EDEDED);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.silvercart-slidorion-accordeon > .silvercart-slidorion-link-header span {
    display: block;
    padding: 8px 8px 0px 8px;
    border-top: 1px solid #ccc;
}
.silvercart-slidorion-accordeon > .silvercart-slidorion-link-header:first-child span {
    border-top: none;
}

.silvercart-slidorion-accordeon > .silvercart-slidorion-link-header:first-child {
    border-top:none;
}

.silvercart-slidorion-accordeon > .silvercart-slidorion-link-header:hover {
    background: #ededed;
    cursor: pointer;
}

.silvercart-slidorion-accordeon > .silvercart-slidorion-link-header.active {
    border-bottom: none;
    background: #e6e6e6;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#d4d4d4));
    background: -moz-linear-gradient(top, #e6e6e6, #d4d4d4);
    background: -o-linear-gradient(top, #e6e6e6, #d4d4d4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#d4d4d4');
}

.silvercart-slidorion-accordeon > .silvercart-slidorion-link-content {
    height: 295px;			/* This height needs to be changed as it depends on the accordion height and number of tabs */
    margin: 0;
    padding: 8px;
    border: none;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(white));
    background: -moz-linear-gradient(top, #FAFAFA, white);
    background: -o-linear-gradient(top, #FAFAFA, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffffff');
    overflow:auto;
}

