#silvercart-productgroup-navigation {
    border-top:                     1px #144664 solid;
}
#silvercart-productgroup-navigation .hlist {
    border:                         none;
    border-top:                     1px #3f7d94 solid;
    background:                     #3f7d94;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#175072), to(#3f7d94)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #175072, #3f7d94); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #175072,  #3f7d94); /* for opera */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#175072', endColorstr='#3f7d94'); /* for IE */
    padding:                        1px 0px 0px 0px;
}
#silvercart-productgroup-navigation .hlist ul {
    padding:                        0px 0px 0px 8px;
}
#silvercart-productgroup-navigation .hlist ul li {
    border-top:                     1px transparent solid;
    padding:                        0px 1px 0px 1px;
    margin:                         0px 1px 0px 0px;
}
#silvercart-productgroup-navigation .hlist ul li a {
    font-size:                      12px;
    font-weight:                    normal;
    color:                          #fff;
    margin:                         0px;
    padding:                        4px 10px;
}
#silvercart-productgroup-navigation .hlist ul li:focus a,
#silvercart-productgroup-navigation .hlist ul li:hover a {
    background-color:               #e4e1dd;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#3f7d94), to(#4d98b4)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #3f7d94,  #4d98b4); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #3f7d94,  #4d98b4); /* for opera */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f7d94', endColorstr='#4d98b4'); /* for IE */
}
#silvercart-productgroup-navigation .hlist ul li:focus,
#silvercart-productgroup-navigation .hlist ul li:hover {
    border-top-color:               #4d98b4;
    background:                     #6cb7d3;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#4d98b4), to(#6cb7d3)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #4d98b4,  #6cb7d3); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #4d98b4,  #6cb7d3); /* for opera */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d98b4', endColorstr='#6cb7d3'); /* for IE */
}
#silvercart-productgroup-navigation .hlist ul li.active {
    border-top-color:               #0f517b;
    background:                     #0f517b;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#0f517b), to(#5e9bc1)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #0f517b,  #5e9bc1); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #0f517b,  #5e9bc1); /* for opera */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f517b', endColorstr='#5e9bc1'); /* for IE */
    box-shadow:                     #666 0px -4px 0px -0px -4px;
}
#silvercart-productgroup-navigation .hlist ul li.active a {
    $DefaultButton.CssActive
}