#silvercart-productgroup-navigation {
    border-top:                     1px #b6b0ab solid;
}
#silvercart-productgroup-navigation .hlist {
    border:                         none;
    border-top:                     1px #c5bfba solid;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#beb8b3), to(#d8d1cb)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #aaa5a0,  #beb8b3); /* for firefox 3.6+ */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#beb8b3', endColorstr='#d8d1cb'); /* for IE */
    padding:                        1px 0px 0px 0px;
}
#silvercart-productgroup-navigation .hlist ul {
    padding:                        0px 0px 0px 8px;
}
#silvercart-productgroup-navigation .hlist ul li {
    border-top:                     1px #aaa5a0 solid;
    padding:                        0px 1px 0px 1px;
    margin:                         0px 1px 0px 0px;
}
#silvercart-productgroup-navigation .hlist ul li a {
    font-size:                      13px;
    font-weight:                    normal;
    color:                          #4f4a4b;
    margin:                         0px;
    padding:                        4px 10px;
}
#silvercart-productgroup-navigation .hlist ul li a:hover {
    background-color:               #d8d4d0;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#beb8b3), to(#d8d1cb)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #e4e1dd,  #fff); /* for firefox 3.6+ */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#beb8b3', endColorstr='#d8d1cb'); /* for IE */
}
#silvercart-productgroup-navigation .hlist ul li:hover {
    border-top-color:               #86827e;
    background:                     #86827e;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#86827e), to(#aea9a4)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #86827e,  #aea9a4); /* for firefox 3.6+ */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#86827e', endColorstr='#aea9a4'); /* for IE */
}
#silvercart-productgroup-navigation .hlist ul li.active {
    border-top-color:               #0f517b;
    background:                     #0f517b;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#0f517b), to(#76a7c7)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #0f517b,  #76a7c7); /* for firefox 3.6+ */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f517b', endColorstr='#76a7c7'); /* for IE */
    box-shadow:                     #666 0px -4px 0px -0px -4px;
}
#silvercart-productgroup-navigation .hlist ul li.active a {
    color:                          #0f517b;
    background:                     #fff;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#d4e2e8), to(#fff)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #d4e2e8,  #fff); /* for firefox 3.6+ */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e2e8', endColorstr='#fff'); /* for IE */
    
}