
.product-group-page {}
.product-group-page_content { padding: 15px; }
.product-group-page.even {}
.product-group-page.odd {}
.product-group-page.odd:hover,
.product-group-page.even:hover {
    background: #eee;
}
.product-group-page h3 {
        padding-bottom: 5px;
        border-bottom: 1px solid #c9c9c9;
}
.product-group-page-details {
    text-align: right;
}
.product-group-page-image img {
    float: none;
    display: block;
    margin: auto;
}

/* especially for tiled view */
.product-group-page.tile .product-group-page-info {
    height: 200px;
}

/* cart form */
.product-group-page form.yform {
    background: transparent;
    border: 0px transparent;
    margin: 0;
    padding: 0;
}
.product-group-page form.yform fieldset {
    background: transparent;
    border: 0px transparent;
    margin: 0;
    padding: 0;
}
.product-group-page form.yform legend {
    display: none;
}
form.yform .type-cart label,
form.yform .type-cart input {
    float: left;
    margin: 0 5px;
    font-family:  Arial, Helvetica, sans-serif;
    padding: 0.3em 0.3em;
}
form.yform .type-cart input.text {
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    display: block;
    position: relative;
    width: 20px;
}
form.yform .type-cart.error {
    border:0px;
    background:transparent;
}
form.yform .type-cart.error input.text {
    border:1px #a66 solid;
    background:#faf4f4;
}
form.yform .type-cart input[type=submit],
form.yform .type-cart input.submit {
    border-top: 1px #ddd solid;
    border-left: 1px #ddd solid;
    border-right: 1px #444 solid;
    border-bottom: 1px #444 solid;
    color: #330;
    background: #5e5607 url(images/button_yellow.png) top left repeat-x;
}
form.yform .type-cart input[type=submit]:hover,
form.yform .type-cart input.submit:hover {
    border-top: 1px #444 solid;
    border-left: 1px #444 solid;
    border-right: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    background: #880;
    color: #fff;
}