
.silvercart-checkout-payment {}
.silvercart-checkout-payment ul {}
.silvercart-checkout-payment ul li {
    padding: 4px 0;
}
.silvercart-checkout-payment-radiofield {}
.silvercart-checkout-payment-additionalInfo {}
.silvercart-checkout-payment-additionalInfo-logos {
    display: block;
    clear: both;
    padding: 6px 0 0 24px;
}
.silvercart-checkout-payment-additionalInfo-description {
    display: block;
    clear: both;
    padding: 0 0 0 24px;
}