
.product-group-holder-toolbar {}
.product-group-holder-toolbar ul {
    float: right;
}
.product-group-holder-toolbar ul li {
    list-style: none;
    float: left;
}

.product-group-holder-entry {}
.product-group-holder-entry_content { padding: 15px; }
.product-group-holder-entry.even {}
.product-group-holder-entry.odd {}
.product-group-holder-entry.odd:hover,
.product-group-holder-entry.even:hover {
    background: #eee;
}
.product-group-holder-entry h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #c9c9c9;
}
.product-group-holder-entry-image img {
    float: none;
    display: block;
    margin: auto;
}
.product-group-holder-entry-foot {
    text-align: right;
}

/* styles for tile view */
.product-group-holder-entry.tile {
    position: relative;
}
.product-group-holder-entry.tile h3 {
    padding-bottom: 5px;
    border-bottom: 0px;
}
.product-group-holder-entry.tile .product-group-holder-entry-link {
    text-align: right;
    vertical-align: middle;
}
.product-group-holder-entry.tile .product-group-holder-entry-foot {
    padding: 0 15px 15px 0;
}