
.product-group-page {}
.product-group-page_content { padding: 15px; }
.product-group-page.even {}
.product-group-page.odd {}
.product-group-page.odd:hover,
.product-group-page.even:hover {
    background: #eee;
}
.product-group-page h3 {
        padding-bottom: 5px;
        border-bottom: 1px solid #c9c9c9;
}
.product-group-page-details {
    text-align: right;
}
.product-group-page-image img {
    float: none;
    display: block;
    margin: auto;
}

/* especially for tiled view */
.product-group-page.tile .product-group-page-info {
    height: 200px;
}

/* cart form */
.product-group-page form.yform {
    background: transparent;
    border: 0px transparent;
    margin: 0;
    padding: 0;
}
.product-group-page form.yform fieldset {
    background: transparent;
    border: 0px transparent;
    margin: 0;
    padding: 0;
}
.product-group-page form.yform legend {
    display: none;
}