.widget {
    margin:                         0px;
}
.silvercart-widget {
    font-size:                      12px;
    margin:                         0px 0px 12px 0px;
}
.silvercart-widget_content {
    background:                     #ffffff;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ffffff)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #fafafa,  #ffffff); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #fafafa,  #ffffff); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffffff'); /* for IE */
    border:                         1px #e1e1e1 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-widget-content_frame {
    border-top:                     1px #ddd solid;
    padding:                        4px;
}
.silvercart-widget-content-area {
    margin:                         0px 0px 20px 0px;
}
.silvercart-widget h2,
#col1 .silvercart-widget h2,/* Widgets in content area */
#col4 .silvercart-widget h2 /* Widgets in content area */ {
    font-size:                      12px;
    font-weight:                    normal;
    color:                          #333;
    background:                     #ffffff;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ffffff)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #e1e1e1,  #ffffff); /* for firefox 3.6+ */
    background:                     -o-linear-gradient(top,  #e1e1e1,  #ffffff); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#ffffff'); /* for IE */
    border:                         none;
    margin:                         0px;
    padding:                        4px 4px 4px 4px;
}
.silvercart-widget h3 {
    font-size:                      12px;
    margin:                         0px;
    padding:                        0px 0px 6px 0px;
}
#col1 .silvercart-widget-content-area h2,/* Widgets in content area */
#col4 .silvercart-widget-content-area h2 /* Widgets in content area */ {
    font-size:                      14px;
    font-weight:                    bold;
    margin:                         34px 0px 6px 0px;
    padding:                        0px 0px 6px 0px;
}
.silvercart-widget p {
    font-size:                      11px;
}

/* YAML vlist -------------------------------------------------------------- */

.silvercart-widget .vlist {
    margin:                         0px;
    padding:                        0px;
}
.silvercart-widget .vlist li {
    margin:                         0px;
    padding:                        0px;
}
.silvercart-widget .vlist li a,
.silvercart-widget .vlist li strong,
.silvercart-widget .vlist li span {
    display:                        block;
    width:                          100%;
    margin:                         0px;
    padding:                        3px 5px;
    font-weight:                    normal;
    color:                          #333;
    border-bottom:                  1px #eee dotted;
}
.silvercart-widget .vlist li strong {
    font-weight:                    bold;
}
.silvercart-widget .vlist li:first-child a,
.silvercart-widget .vlist li:first-child strong,
.silvercart-widget .vlist li:first-child span {
    padding-top:                    2px;
}
.silvercart-widget .vlist li:last-child a,
.silvercart-widget .vlist li:last-child strong,
.silvercart-widget .vlist li:last-child span {
    border-bottom:                  none;
    padding-bottom:                 2px;
}
.silvercart-widget .vlist li a:hover {
    text-decoration:                none;
    background-color:               #e6f2f7;
}
.silvercart-widget .vlist ul ul {
    color:                          #333;
    list-style:                     disc;
    margin:                         0px 0px 0px 12px;
    padding:                        0px 0px 0px 12px;
}

/* Product boxes ----------------------------------------------------------- */

.silvercart-widget .silvercart-product-box {
    color:                          #333;
    border-top:                     1px #ddd solid;
    background:                     #ffffff;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#ffffff)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #f6f6f6,  #ffffff); /* for firefox 3.6+ */
    background:                     -o-linear-gradient(top,  #f6f6f6,  #ffffff); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff'); /* for IE */
}
.silvercart-product-box_content {
    padding:                        8px 4px 6px 4px;
}
.silvercart-widget .silvercart-product-box h3 {
    font-size:                      12px;
    font-weight:                    bold;
}
.silvercart-widget .silvercart-product-box h3 a {
    color:                          #444;
    text-shadow:                    0px 1px 3px #eee;
}
.silvercart-widget .silvercart-product-box p.silvercart-price {
    font-size:                      12px;
    margin:                         0px 0px 3px 0px;
}
.silvercart-widget .silvercart-product-box small {
    font-size:                      10px;
}

.silvercart-product-box .product-group-page-image img {
    display:                        inline-block;
}
.silvercart-widget .silvercart-product-box .product-group-page-image a {
    text-align:                     center;
    border:                         1px #d1d1d1 solid;
    border:                         none;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    display:                        block;
}

/* Tables ------------------------------------------------------------------ */

.silvercart-widget table {
    font-size:                      11px;
}
.silvercart-widget table thead th {
    border-bottom:                  1px #bbb solid;
}
.silvercart-widget table tbody tr:last-child td {
    border-bottom:                  1px #bbb solid;
}
.silvercart-widget table tbody a {
    color:                          #333;
}
.silvercart-widget table .left {
    text-align:                     left;
}
.silvercart-widget table .right {
    text-align:                     right;
}

/* Login ------------------------------------------------------------------- */

.silvercart-widget-login form.yform {
    background:                     none;
    border:                         none;
    margin:                         0px;
    padding:                        0px;
}
.silvercart-widget-login form.yform div.type-text {
    padding:                        0px 5px 0px 0px;
}
.silvercart-widget-login form.yform div.type-button {
    padding:                        0px;
}

/* Search ------------------------------------------------------------------ */

.silvercart-widget-search form.yform {
    background:                     none;
    border:                         none;
    margin:                         0px;
    padding:                        0px;
}
.silvercart-widget-search form.yform div.type-text {
    padding:                        0px 5px 0px 0px;
}
.silvercart-widget-search form.yform div.type-button {
    padding:                        0px;
}

/* AnythingSlider ---------------------------------------------------------- */

.silvercart-widget-productgroupitems-slider {
    list-style-type:                none;
    margin:                         0px;
    padding:                        0px;
}
#col1 .silvercart-widget-productgroupitems-slider li {
    width:                          660px;
    list-style-type:                none;
    margin:                         0px;
    padding:                        0px;
}

.silvercart-widget-image-slider {
    list-style-type:                none;
    margin:                         0px;
    padding:                        0px;
}
#col1 .silvercart-widget-image-slider li {
    width:                          660px;
    list-style-type:                none;
    margin:                         0px;
    padding:                        0px;
}
#col1 .silvercart-widget-image-slider li {
    text-align:                     center;
}