/* General settings -------------------------------------------------------- */

body {
    font-family:                    verdana, sans-serif;
    background:                     #ccc url("../images/bg_body.jpg") left top repeat-x;
}

h1, h2, h3, h4, h5, h6 {
    font-family:                    verdana, sans-serif;
}

a {
    color:                          #0f517b;
}
a:focus {
    outline:                        0 none;
}

h1 {
    font-family:                    georgia, serif;
    font-size:                      28px;
}

.page {
    background:                     #fff;
    border:                         1px #5a554d solid;
    border-top:                     none;
}

/* Headlines --------------------------------------------------------------- */

#col1 h2,
#col4 h2 {
    font-size:                      18px;
    border-bottom:                  2px #ddd dotted;
}
#col1 h3,
#col4 h3 {
    font-size:                      14px;
}

/* Tables ------------------------------------------------------------------ */

table {
    border:                         1px #eee solid;
    border-collapse:                collapse;
}
table tr:hover td {
    fonr-size:                      12px;
    background:                     none;
}

/* Buttons ----------------------------------------------------------------- */

.silvercart-button a,
.silvercart-button-small a {
    line-height:                    100%;
    font-size:                      12px;
    color:                          #444;
    background:                     #d9d9d9;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d9d9d9)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #ffffff,  #d9d9d9); /* for firefox 3.6+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9'); /* for IE */
    border:                         1px #999 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-button-small a {
    font-size:                      11px;
}
.silvercart-button a:hover,
.silvercart-button-small a:hover {
    text-decoration:                none;
    color:                          #333;
    background-color:               #cecece;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cecece)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #eeeeee,  #cecece); /* for firefox 3.6+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cecece'); /* for IE */
    border-color:                   #888;
}

/* Silvercart header ------------------------------------------------------- */

#silvercart-header {
    background:                     #efefeb url("../images/bg_header.png") left bottom repeat-x;
}

#silvercart-shop-claim-text h1 {
    line-height:                    100%;
}
#silvercart-shop-claim-text h1 a {
    color:                          #0f517b;
}
#silvercart-shop-claim-text p {
    font-family:                    georgia, serif;
    font-size:                      14px;
    color:                          #3a3436;
}