.silvercart-product-group-holder-toolbar ul {
    float:                          right;
    margin:                         0px;
    padding:                        0px;
}
.silvercart-product-group-holder-toolbar ul li {
    float:                          right;
    margin:                         0px;
    padding:                        0px;
}

/* Links to group views ---------------------------------------------------- */

.silvercart-group-view-link {
    float:                          right;
}
.silvercart-group-view-link_content {
    padding:                        0px 2px 0px 0px;
}
.silvercart-group-view-link a {
    display:                        block;
    width:                          20px;
    height:                         20px;
}

/* Marker for the current active group view -------------------------------- */

.silvercart-group-view-marker {
    float:                          right;
}
.silvercart-group-view-marker_content {
    padding:                        0px 2px 0px 0px;
}
.silvercart-group-view-marker strong {
    display:                        block;
    width:                          20px;
    height:                         20px;
}