.silvercart-address {
    margin:                         1em 0 1em 1em;
    padding:                        0px;
    
    background:                     #fafafa;
    -moz-box-shadow:                0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:             0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow:                     0 0 5px rgba(0, 0, 0, 0.3);
    border:                         1px #bbb solid;
}
.subcr .silvercart-address {
    margin:                         1em 1em 1em 0;
}
.silvercart-address-field_content {
    padding:                        4px;
}
.silvercart-address-bottom {
    margin-top:                     10px;
    padding:                        0px 0px 0px 0px;
    
    border-top:                     1px #bbb solid;
}