/* General settings -------------------------------------------------------- */

.c45l, .c30l {
    float:                          left;
}
.c45r, .c30r {
    float:                          right;
    margin-left:                    -5px;
}
.c30l, .c30r {
    width:                          30%;
}
.c45l, .c45r {
    width:                          45%;
}

#col1 {
    float:                          left;
    width:                          70%
}
#col1_content {
    padding:                        0px 12px 0px 12px;
}
#col2 {
    display:                        none
}
#col3 {
    width:                          auto;
    margin:                         0px 0px 0px 70%
}
#col3_content {
    padding:                        0px 12px 0px 0px;
}
#col4 {
    margin:                         0px;
    padding:                        0px;
}
#col4_content {
    margin:                         0px;
    padding:                        0px 12px;
}

.page_margins {
    width:                          980px;
    margin:                         0px auto;
    padding:                        36px 0px 0px 0px;
}

#main {
    padding:                        20px 0px 10px 0px;
}

.align_right {
    text-align:                     right;
}

/* Headlines --------------------------------------------------------------- */

#col1 h2,
#col4 h2 {
    margin:                         26px 0px 14px 0px;
    padding:                        0px 0px 3px 0px;
}
#col1 h3,
#col4 h3 {
    margin:                         10px 0px 4px 0px;
    padding:                        0px;
}

/* Tables ------------------------------------------------------------------ */

table {
    width:                          100%;
    margin:                         4px 0px 8px 0px;
    padding:                        0px;
}
table th {
    padding:                        6px 4px;
}
table td {
    padding:                        3px 4px;
}
#silvercart-order-holder-table-id td {
    padding:                        3px 4px;
}
#silvercart-order-holder-table-id .silvercart-button a {
    margin:                         2px 0px 0px 0px;
}

/* Highlighted messages ---------------------------------------------------- */

p.silvercart-message {
    margin:                         0px;
}
p.silvercart-message.info16 {
    padding: 0 0 0 20px;
}
p.silvercart-message.highlighted.info16 {
    padding: 5px 5px 5px 20px;
}
p.silvercart-message.info32 {
    padding: 0 0 0 30px;
}
p.silvercart-message.highlighted.info32 {
    padding: 5px 5px 5px 40px;
}
p.silvercart-message.info48 {
    padding: 0 0 0 60px;
}
p.silvercart-message.highlighted.info48 {
    padding: 5px 5px 5px 60px;
}
p.silvercart-message.error16 {
    padding: 0 0 0 20px;
}
p.silvercart-message.highlighted.error16 {
    padding: 5px 5px 5px 20px;
}
p.silvercart-message.error32 {
    padding: 0 0 0 40px;
}
p.silvercart-message.highlighted.error32 {
    padding: 5px 5px 5px 40px;
}
p.silvercart-message.error48 {
    padding: 0 0 0 60px;
}
p.silvercart-message.highlighted.error48 {
    padding: 5px 5px 5px 60px;
}

/* Buttons ----------------------------------------------------------------- */

.silvercart-button-row {
    padding:                        6px 0px;
}
.silvercart-button-row.left {
    padding-left:                   4px;
}
.silvercart-button-row.right {
    padding-right:                  4px;
}
.silvercart-button {
    float:                          right;
}
.silvercart-button.left {
    float:                          left;
}
.silvercart-button.left .silvercart-button_content {
    padding:                        0px 4px 0px 0px;
}
.silvercart-button a {
    display:                        block;
    padding:                        3px 10px 5px 10px;
}

.silvercart-button-small {
    float:                          right;
}
.silvercart-button-small.left {
    float:                          left;
}
.silvercart-button-small_content {
    padding:                        0px 0px 0px 4px;
}
.silvercart-button-small.left .silvercart-button-small_content {
    padding:                        0px 4px 0px 0px;
}
.silvercart-button-small a {
    display:                        block;
    padding:                        2px 4px 4px 4px;
}

.silvercart-button.full,
.silvercart-button-small.full {
    width:                          100%;
}

/* Icon only buttons ------------------------------------------------------- */

.silvercart-icon-button {
    margin:                         4px 4px 0 0;
    display:                        inline-block;
}
.silvercart-icon-button_content {
    display:                        inline-block;
    padding:                        3px;
}
.edit32 .silvercart-icon-button_content {
    width:                          32px;
    height:                         32px;
}
.delete32 .silvercart-icon-button_content {
    width:                          32px;
    height:                         32px;
}

/* Icon with text buttons -------------------------------------------------- */

.silvercart-icon-with-text-button.p {
    display: inline-block;
    margin: 0 0 1em;
}
.silvercart-icon-with-text-button.add16 {
    padding: 0 0 0 20px;
}
.silvercart-icon-with-text-button.set-as16 {
    padding: 0 0 0 20px;
}
.silvercart-icon-with-text-button.set-as32 {
    padding: 0 0 0 40px;
}
.silvercart-icon-with-text-button.set-as48 {
    padding: 0 0 0 60px;
}

/* Silvercart header ------------------------------------------------------- */

#silvercart-shop-claim {
    padding:                        30px 0px;
}
#silvercart-shop-claim a {
    float:                          left;
}
#silvercart-shop-claim img {
    float:                          left;
}
#silvercart-shop-claim-text {
    float:                          left;
    margin:                         0px;
    padding:                        18px 0px 0px 0px;
}
#silvercart-shop-claim-text h1 {
    margin:                         0px 0px 4px 0px;
}
#silvercart-shop-claim-text p {
    clear: both;
    margin:                         0px;
    padding:                        0px 0px 0px 8px;
}