.widget {
    margin:                         0px;
}
.silvercart-widget {
    margin:                         0px 0px 12px 0px;
}
.silvercart-widget h2,
#col1 .silvercart-widget h2,
#col4 .silvercart-widget h2 {
    margin:                         0px;
    padding:                        4px 4px 4px 4px;
}
.silvercart-widget h3,
#col1 .silvercart-widget h3,
#col4 .silvercart-widget h3 {
    margin:                         0px;
    padding:                        0px 0px 6px 0px;
}
.silvercart-widget-content_frame {
    padding:                        4px;
}

.silvercart-widget-content-area {
    margin:                         0px 0px 20px 0px;
}

/* YAML vlist -------------------------------------------------------------- */

.silvercart-widget .vlist {
    margin:                         0px;
    padding:                        0px;
}
.silvercart-widget .vlist li {
    margin:                         0px;
    padding:                        0px;
}
.silvercart-widget .vlist li:first-child a,
.silvercart-widget .vlist li:first-child strong,
.silvercart-widget .vlist li:first-child span {
    padding-top:                    2px;
}
.silvercart-widget .vlist li:last-child a,
.silvercart-widget .vlist li:last-child strong,
.silvercart-widget .vlist li:last-child span {
    padding-bottom:                 2px;
}
.silvercart-widget .vlist li a,
.silvercart-widget .vlist li strong,
.silvercart-widget .vlist li span {
    display:                        block;
    width:                          100%;
    margin:                         0px;
    padding:                        3px 5px;
}
.silvercart-widget .vlist ul ul {
    margin:                         0px 0px 0px 12px;
    padding:                        0px 0px 0px 12px;
}

/* Product boxes ----------------------------------------------------------- */

.silvercart-product-box_content {
    padding:                        8px 4px 6px 4px;
}
.silvercart-product-box p.silvercart-price {
    margin:                         0px 0px 3px 0px;
}


.silvercart-product-box .product-group-page-image a {
    display:                        block;
}
.silvercart-product-box .product-group-page-image img {
    display:                        inline-block;
}

/* Login ------------------------------------------------------------------- */

.silvercart-widget-login form.yform {
    margin:                         0px;
    padding:                        0px;
}
.silvercart-widget-login form.yform div.type-text {
    padding:                        0px 5px 0px 0px;
}
.silvercart-widget-login form.yform div.type-button {
    padding:                        0px;
}