.product-group-holder-entry {
    margin:                         0px 0px 20px 0px;
}
.product-group-holder-entry_content {
    
}
.product-group-holder-entry h3 {
    border-bottom:                  1px #e2e2e2 solid;
    padding:                        0px 0px 4px 0px;
}
.product-group-holder-entry .product-group-holder-entry-image {
    
}
.product-group-holder-entry-foot {
    
}