.silvercart-shopping-cart-full {
    border:                         1px #e1e1e1 solid;
    border-collapse:                collapse;
    background-color:               #FAFAFA;
}
.silvercart-shopping-cart-full thead th {
    padding:                        6px 8px 6px 8px;
}
.silvercart-shopping-cart-full tbody td {
    padding:                        4px 8px 4px 8px;
}
.silvercart-shopping-cart-full tbody td form {
    border:                         none;
    background:                     none;
    display:                        inline-block;
    margin:                         0px;
    padding:                        0px;
}
.silvercart-shopping-cart-full tbody td form .type-button {
    margin:                         0px;
    padding:                        0px;
}
.silvercart-shopping-cart-full tbody td form.yform .type-button input[type="submit"]{
    height:                         auto;
    padding:                        2px 5px;
}
.silvercart-shopping-cart-full tbody td .silvercart-quantity-value div {
    padding:                        4px 0px 0px 0px;
}
.silvercart-shopping-cart-full tbody td form.yform input[type="text"] {
    padding:                        2px 4px;
}

.silvercart-shopping-cart-full .left {
    text-align:                     left;
}
.silvercart-shopping-cart-full .right {
    text-align:                     right;
}
