/* General settings -------------------------------------------------------- */
body, html {
    min-height:                     100%;
}

body {
    font-family:                    verdana, sans-serif;
    color:                          #333;
    background:                     #f3f3f3;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#f9f9f9)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #f1f1f1,  #f9f9f9); /* for firefox 3.6+ */
    background:                     -o-linear-gradient(top,  #f1f1f1,  #f9f9f9); /* for opera */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#f9f9f9'); /* for IE */
}

#col1 {
    float:                          left;
    width:                          70%;
    margin:                         20px 0px;
}
#col1_content {
    padding:                        0px 12px 0px 12px;
}
#col2 {
    display:                        none
}
#col3 {
    width:                          auto;
    margin:                         0px 0px 0px 70%
}
#col3_content {
    background:                     #f4f4f4;
    border-left:                    1px #dcdcdc solid;
    padding:                        6px 6px 0px 6px;
    box-shadow:                     0px 4px 10px #ddd inset;
}
#col4 {
    margin:                         0px;
    padding:                        20px 0px 20px 0px;
}
#col4_content {
    margin:                         0px;
    padding:                        0px 12px;
}

.c90l, .c45l, .c30l, .c10l {
    float:                          left;
}
.c90r, .c45r, .c30r, .c10r {
    float:                          right;
    margin-left:                    -5px;
}
.c10l, .c10r {
    width:                          10%;
}
.c30l, .c30r {
    width:                          30%;
}
.c45l, .c45r {
    width:                          45%;
}
.c90l, .c90r {
    width:                          90%;
}

h1, h2, h3, h4, h5, h6 {
    font-family:                    verdana, sans-serif;
}

a {
    color:                          $DefaultLinkColor;
    background:                     transparent;
    text-decoration:                none;
}
a:focus {
    outline:                        0 none;
    text-decoration:                underline;
    color:                          $DefaultLinkFocusColor;
}
a:visited {
    color:                          $DefaultLinkVisitedColor;
}
a:hover,
a:active {
    color:                          $DefaultLinkHoverColor;
    text-decoration:                underline;
    outline:                        0 none;
}

h1 {
    font-family:                    georgia, serif;
    font-size:                      28px;
    text-shadow:                    #f5f8f9 -1px -1px 2px, #f5f8f9 1px 1px 2px;
}

#main {
    padding:                        0px;
}

.page_margins {
    width:                          980px;
    margin:                         0px auto;
    padding:                        36px 0px 0px 0px;
}

.align_right {
    text-align:                     right;
}

.align_top {
    vertical-align:                 top;
}

.align_bottom {
    vertical-align:                 bottom;
}

.padding_right {
    padding-right:                  12px;
}
.overflow-visible {
    overflow:                     visible;
}
.position-relative {
    position:                     relative;
}

.page {
    background:                     #fff;
    border:                         1px #cfcfcf solid;
    border-top:                     none;
    box-shadow:                     #dadada 0px 0px 14px;
}
.right {
    text-align:                     right;
}
.center {
    text-align:                     center;
}
    
hr {
    border-bottom: 2px dotted #DDDDDD;
}

/* Headlines --------------------------------------------------------------- */

#col1 h2,
#col4 h2 {
    margin:                         26px 0px 14px 0px;
    padding:                        0px 0px 3px 0px;
    
    font-size:                      18px;
    color:                          #333;
    border-bottom:                  2px #ddd dotted;
}
#col1 h3,
#col4 h3 {
    margin:                         10px 0px 4px 0px;
    padding:                        0px;
    
    font-size:                      14px;
    color:                          #333;
}


/* Tables ------------------------------------------------------------------ */

table {
    width:                          100%;
    margin:                         4px 0px 8px 0px;
    padding:                        0px;
    
    border:                         1px #eee solid;
    border-collapse:                collapse;
}
table tr:hover td {
    background:                     none;
}
table th {
    padding:                        6px 4px;
}
table td {
    padding:                        3px 4px;
}
table th.left,
table td.left {
    text-align:                     left;
}
table th.right,
table td.right {
    text-align:                     right;
}

.silvercart-default-table {
    
}
.silvercart-default-table tr.even td {
    background-color: #f9f9f9;
}
.silvercart-default-table tr.odd td {
    
}

#silvercart-order-holder-table-id td {
    vertical-align:                 top;
    padding:                        3px 4px;
}
#silvercart-order-holder-table-id .silvercart-button a {
    margin:                         2px 0px 0px 0px;
}
#silvercart-order-holder-table-id ul {
    list-style:                     disc outside;
    margin:                         0px;
    padding:                        0px 0px 0px 16px;
}
#silvercart-order-holder-table-id ul li {
    margin:                         0px;
    padding:                        0px;
}

/* Helper classes ---------------------------------------------------------- */

.hidden-form {
    display: none;
}

/* Highlighted messages ---------------------------------------------------- */

div.silvercart-message {
    border:                         1px #ccc8c5 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    margin:                         0px 0px 8px 0px;
}
p.silvercart-message {
    margin:                         0px;
}
span.silvercart-message {
    display:                        block;
}
.silvercart-message.info16 {
    padding: 0 0 0 20px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/16x16_info.png") no-repeat left center;
}
.silvercart-message.highlighted.info16 {
    padding: 5px 5px 5px 20px;
    
    background-color: #efefef;
    line-height: 16px;
}
.silvercart-message.info32 {
    padding: 0 0 0 30px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/32x32_info.png") no-repeat left center;
}
.silvercart-message.highlighted.info32 {
    padding: 5px 5px 5px 40px;
    
    background-color: #efefef;
    line-height: 32px;
}
.silvercart-message.info48 {
    padding: 0 0 0 60px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/48x48_info.png") no-repeat left center;
}
.silvercart-message.highlighted.info48 {
    padding: 5px 5px 5px 60px;
    
    background-color: #efefef;
    line-height: 48px;
}
.silvercart-message.error16 {
    padding: 0 0 0 20px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/16x16_error.png") no-repeat left center;
}
.silvercart-message.highlighted.error16 {
    padding: 5px 5px 5px 20px;
    
    background-color: #efefef;
    line-height: 16px;
}
.silvercart-message.error32 {
    padding: 0 0 0 40px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/32x32_error.png") no-repeat left center;
}
.silvercart-message.highlighted.error32 {
    padding: 5px 5px 5px 40px;
    
    background-color: #efefef;
    line-height: 32px;
}
.silvercart-message.error48 {
    padding: 0 0 0 60px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/48x48_error.png") no-repeat left center;
}
.silvercart-message.highlighted.error48 {
    padding: 5px 5px 5px 60px;
    
    background-color: #efefef;
    line-height: 48px;
}
p.silvercart-message.vdistance {
    margin:                         8px 0px;
}

/* Buttons ----------------------------------------------------------------- */

.silvercart-button-row {
    padding:                        6px 0px;
}
.silvercart-button-row.left {
    padding-left:                   4px;
}
.silvercart-button-row.right {
    padding-right:                  4px;
}
.silvercart-button {
    float:                          right;
}
.silvercart-button.left,
.silvercart-icon-button.left,
.silvercart-icon-with-text-button.left {
    float:                          left;
}
.silvercart-button.inline {
    float:                          none;
    display:                        inline-block;
}
.silvercart-button.left .silvercart-button_content {
    padding:                        0px 4px 0px 0px;
}
a.silvercart-button,
.silvercart-button a {
    display:                        block;
    padding:                        3px 10px 5px 10px;
}
a.silvercart-button,
.silvercart-button a,
a.silvercart-button-small,
.silvercart-button-small a {
    line-height:                    100%;
    font-size:                      11px;
    text-align:                     center;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    $DefaultButton.Css
}
a.silvercart-button:hover,
.silvercart-button a:hover,
a.silvercart-button-small:hover,
.silvercart-button-small a:hover {
    text-decoration:                none;
    $DefaultButton.CssHover
}
.silvercart-button-small {
    float:                          right;
}
.silvercart-button-small.left {
    float:                          left;
}
.silvercart-button-small_content {
    padding:                        0px 0px 0px 4px;
}
.silvercart-button-small.left .silvercart-button-small_content {
    padding:                        0px 4px 0px 0px;
}

.silvercart-button.full,
.silvercart-button-small.full {
    width:                          100%;
}
.silvercart-button-small a {
    display:                        block;
    padding:                        2px 4px 4px 4px;
    
    font-size:                      11px;
}

/* Icon only buttons ------------------------------------------------------- */

.silvercart-icon-with-text-button,
.silvercart-icon-button {
    margin:                         4px 4px 0 0;
    display:                        inline-block;
    text-decoration:                none;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    $DefaultButton.Css
}
.silvercart-icon-with-text-button:hover,
.silvercart-icon-button:hover {
    text-decoration:                none;
    $DefaultButton.CssHover
}
.silvercart-icon-with-text-button:visited,
.silvercart-icon-button:visited {
    color:                          #000;
    text-decoration:                none;
}
.silvercart-icon-with-text-button_content,
.silvercart-icon-button_content {
    display:                        inline-block;
    padding:                        3px;
}
.edit32 .silvercart-icon-button_content {
    width:                          32px;
    height:                         32px;
    
    background:                     url("{$CurrentController.baseHref}silvercart/images/icons/32x32_notepad.png") no-repeat center center;
}
.delete32 .silvercart-icon-button_content {
    width:                          32px;
    height:                         32px;
    
    background:                     url("{$CurrentController.baseHref}silvercart/images/icons/32x32_recycle_bin_empty.png") no-repeat center center;
}
.print16 .silvercart-icon-button_content {
    width:                          16px;
    height:                         16px;
    
    background:                     url("{$CurrentController.baseHref}silvercart/images/icons/16x16_print.png") no-repeat center center;
}
.print32 .silvercart-icon-button_content {
    width:                          32px;
    height:                         32px;
    
    background:                     url("{$CurrentController.baseHref}silvercart/images/icons/32x32_print.png") no-repeat center center;
}
.help16 .silvercart-icon-button_content {
    width:                          16px;
    height:                         16px;
    
    background:                     url("{$CurrentController.baseHref}silvercart/images/icons/16x16_help.png") no-repeat center center;
}
.help32 .silvercart-icon-button_content {
    width:                          32px;
    height:                         32px;
    
    background:                     url("{$CurrentController.baseHref}silvercart/images/icons/32x32_help.png") no-repeat center center;
}

/* Icon with text buttons -------------------------------------------------- */

.silvercart-icon-with-text-button {
    padding:                        3px 0px 5px 10px;
}
.silvercart-icon-with-text-button.left {
    padding:                        3px 10px 5px 0px;
}
.silvercart-icon-with-text-button.big {
    font-size: 1.5em;
}
.silvercart-icon-with-text-button.p {
    display: inline-block;
    margin: 0 0 1em;
    
    line-height: 1.5em;
}
.silvercart-icon-with-text-button.add16 .silvercart-icon-with-text-button_content {
    padding: 0 0 0 20px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/16x16_add.png") no-repeat left center;
}
.silvercart-icon-with-text-button.set-as16 .silvercart-icon-with-text-button_content {
    padding: 0 0 0 20px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/16x16_task.png") no-repeat left center;
}
.silvercart-icon-with-text-button.set-as32 .silvercart-icon-with-text-button_content {
    padding: 0 0 0 40px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/32x32_task.png") no-repeat left center;
}
.silvercart-icon-with-text-button.set-as48 .silvercart-icon-with-text-button_content {
    padding: 0 0 0 60px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/48x48_task.png") no-repeat left center;
}
.silvercart-icon-with-text-button.back16 .silvercart-icon-with-text-button_content {
    padding: 0 0 0 20px;
    
    background: url("{$CurrentController.baseHref}silvercart/images/icons/cheser/16x16_go-previous.png") 2px center no-repeat;
}

/* Silvercart header ------------------------------------------------------- */

#silvercart-header {
    background:                     #fcfdfd;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#fcfdfd), to(#d5e3e8)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #fcfdfd,  #d5e3e8); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #fcfdfd,  #d5e3e8); /* for opera */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfdfd', endColorstr='#d5e3e8'); /* for IE */
}

#silvercart-shop-claim {
    padding:                        15px 0px;
}
#silvercart-shop-claim a {
    float:                          left;
}
#silvercart-shop-claim img {
    float:                          left;
}
#silvercart-shop-claim-text {
    float:                          left;
    margin:                         0px;
    padding:                        18px 0px 0px 0px;
}
#silvercart-shop-claim-text h1 {
    margin:                         0px 0px 4px 0px;
    line-height:                    100%;
}
#silvercart-shop-claim-text h1 a {
    color:                          $DefaultLinkColor;
}
#silvercart-shop-claim-text p {
    clear: both;
    margin:                         0px;
    padding:                        0px 0px 0px 8px;
    
    font-family:                    georgia, serif;
    font-size:                      14px;
    color:                          #3a3436;
}

/* Sections ---------------------------------------------------------------- */

.silvercart-section {
    margin:                         0px 0px 10px 0px;
}
.silvercart-section_content {
    padding:                        4px;
    
    background:                     #fafafa;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ffffff)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #fafafa,  #ffffff); /* for firefox 3.6+ */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffffff'); /* for IE */
    border:                         1px #e1e1e1 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
#col1 .silvercart-section h3,
#col4 .silvercart-section h3 {
    margin:                         0px 0px 12px 0px;
}

/* Errors and notices ------------------------------------------------------ */

.silvercart-error-list {
    margin:                         8px 0px;
    
    background:                     #fafafa;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#ffd3d3), to(#f2e8e8)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #ffd3d3,  #f2e8e8); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #ffd3d3,  #f2e8e8); /* for opera */ 
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd3d3', endColorstr='#f2e8e8'); /* for IE */
    border:                         1px #ce0000 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-error-list_content {
    padding:                        4px;
}
.silvercart-error-list p {
    margin:                         0px 0px 6px 0px;
    
    color:                          #530000;
}
.silvercart-error-list p:last-child {
    margin-bottom:                  0px;
}

.silvercart-checkout-notice {
    float:                          right;
}
.silvercart-checkout-notice_content {
    padding:                        4px;
    border:                         1px #353535 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
