/* General settings -------------------------------------------------------- */

form.yform .type-button {
    text-align:                     right;
}
form.yform .type-button input[type="submit"],
form.yform .type-button input.action[type="submit"] {
    float:                          right;
    margin:                         0px 0px 0px 4px;
    padding:                        3px 10px 4px 10px;
}
form.yform input[type="submit"] {
    padding:                        1px 8px 2px 8px;
}
form.yform input[type="password"],
form.yform input[type="text"] {
    padding:                        2px 4px;
}
form.yform .type-button .silvercart-button {
    margin:                         7px 0px 0px 0px;
}

/* Quicksearch form -------------------------------------------------------- */

#silvercart-quicksearch-form {
    padding:                        6px 0px 0px 0px;
}
#silvercart-quicksearch-form form.yform {
    float:                          left;
    margin:                         0px;
    padding:                        0px;
}
#silvercart-quicksearch-form form.yform div.type-text {
    clear:                          none;
    float:                          left;
    margin:                         0px;
    padding:                        0px;
}
#silvercart-quicksearch-form form.yform input {
    clear:                          none;
    float:                          left;
}
#silvercart-quicksearch-form form.yform div.type-text input { /* Search query field */
    width:                          90%;
    padding:                        4px 4px 3px 4px;
}
#silvercart-quicksearch-form form.yform input.action { /* Submit button */
    padding:                        3px 10px 3px 10px;
}

/* Quicklogin form --------------------------------------------------------- */

#silvercart-quicklogin-form {
    display:                        none;
    z-index:                        100;
    width:                          320px;
    position:                       absolute;
    top:                            35px;
    left:                           466px;
}
#silvercart-quicklogin-form_content {
    padding:                        4px 5px 8px 10px;
}
#silvercart-quicklogin-form form.yform {
    margin:                         0px;
    padding:                        0px;
}
#silvercart-quicklogin-form form.yform label {
    padding:                        0px 0px 3px 0px;
}
#silvercart-quicklogin-form form.yform .type-text {
    padding:                        0px 0px 4px 0px;
}
#silvercart-quicklogin-form form.yform .type-text input {
    width:                          90%;
}
#silvercart-quicklogin-form form.yform #silvercart-quicklogin-form-actions input {  /* Submit button */
    padding:                        3px 10px 3px 10px;
}