.silvercart-address {
    margin:                         1em 0 1em 1em;
    padding:                        0px;
}
.subcr .silvercart-address {
    margin:                         1em 1em 1em 0;
}
.silvercart-address-field_content {
    padding:                        4px;
}
.silvercart-address-bottom {
    margin-top:                     10px;
    padding:                        0px 0px 0px 0px;
}