.silvercart-product-group-page-control-top .silvercart-product-group-page-controls {
    margin:                         0px 0px 10px 0px;
    padding:                        0px 0px 6px 0px;
}
.silvercart-product-group-page-control-bottom .silvercart-product-group-page-controls {
    margin:                         10px 0px 0px 0px;
    padding:                        6px 0px 0px 0px;
}