
.silvercart-change-language {
    position: relative;
}
ul.silvercart-change-language-selector {
    border:                         1px solid #676461;
    border-radius:                  3px 3px 3px 3px;
    font-size:                      11px;
    position:                       absolute;
    z-index:                        150;
    right:                          6px;
    top:                            6px;
    padding:                        0;
    text-decoration:                none;
    vertical-align:                 middle;
    color:                          #fff;
    background-color:               #42403e;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#42403e), to(#302e2d));
    background:                     -moz-linear-gradient(top,  #42403e,  #302e2d);
    background:                     -o-linear-gradient(top,  #42403e,  #302e2d);
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#42403e', endColorstr='#302e2d');
    border:                         1px #676461 solid;
}
ul.silvercart-change-language-selector li {
    line-height:                    23px;
    padding:                        0 10px;
    margin:                         0;
    cursor:                         default;
}
ul.silvercart-change-language-selector li a {
    color:                          #fff;
    text-decoration:                none;
}
ul.silvercart-change-language-selector li img {
    padding:                        0 6px 0 0;
}
ul.silvercart-change-language-selector li.first {
}
ul.silvercart-change-language-selector li.selectable {
    display:                        none;
    cursor:                         pointer;
}
ul.silvercart-change-language-selector li.selectable:hover {
    text-decoration:                none;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#5c5956), to(#464341));
    background:                     -moz-linear-gradient(top,  #5c5956,  #464341);
    background:                     -o-linear-gradient(top,  #5c5956,  #464341);
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5956', endColorstr='#464341');
}
ul.silvercart-change-language-selector:hover li.selectable {
    display: block;
}
div.type-language-select {
    float: left;
}