/* Links to result pages --------------------------------------------------- */

.silvercart-pagination-link {
    float:                          left;
}
.silvercart-pagination-link_content {
    padding:                        0px 2px 0px 0px;
}
.silvercart-pagination-link a {
    display:                        block;
    width:                          20px;
    height:                         20px;
}
.silvercart-pagination-link a span {
    display:                        block;
    padding:                        3px 0px 0px 0px;
}

/* Marker for the current active page -------------------------------------- */

.silvercart-pagination-marker {
    float:                          left;
}
.silvercart-pagination-marker_content {
    padding:                        0px 2px 0px 0px;
}
.silvercart-pagination-marker strong {
    display:                        block;
    width:                          20px;
    height:                         20px;
}
.silvercart-pagination-marker strong span {
    display:                        block;
    padding:                        3px 0px 0px 0px;
}