.silvercart-product-group-page-box {
    padding:                        12px 0px 12px 0px;
}
.silvercart-product-group-page-box form.yform {
    margin:                         0px;
    padding:                        0px;
}
.silvercart-product-group-page-box form.yform fieldset {
    margin:                         0px;
    padding:                        0px;
}