.silvercart-shopping-cart-full {
    border-collapse:                collapse;
}
.silvercart-shopping-cart-full thead th {
    padding:                        6px 8px 6px 8px;
}
.silvercart-shopping-cart-full tbody td {
    padding:                        4px 8px 4px 8px;
}
.silvercart-shopping-cart-full tbody td form {
    display:                        inline-block;
    margin:                         0px;
    padding:                        0px;
}
.silvercart-shopping-cart-full tbody td form .type-button {
    margin:                         0px;
    padding:                        0px;
}