#col1 .silvercart-product-group-page-box-tile h2,
#col4 .silvercart-product-group-page-box-tile h2,
#col1 .silvercart-product-group-page-box-tile h3,
#col4 .silvercart-product-group-page-box-tile h3 {
    margin:                         0px 0px 8px 0px;
}
.silvercart-product-group-page-box-tile {
    color:                          #333;
}
.silvercart-product-group-page-box-tile .silvercart-product-group-page-box-tile_frame {
    position:                       relative;
    padding:                        4px;
    
    border:                         1px #e1e1e1 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}

.silvercart-product-group-page-box-tile form.yform {
    margin:                         0px;
    padding:                        0px;
    
    border:                         none;
    background:                     none;
}
.silvercart-product-group-page-box-tile form.yform fieldset {
    margin:                         0px;
    padding:                        0px;
    
    border:                         none;
    background:                     none;
}
.silvercart-product-group-page-box-tile .silvercart-product-group-add-cart-form {
    text-align:                     right;
}
.silvercart-product-group-page-box-tile .silvercart-product-group-add-cart-form input.text {
    width:                          2em;
    height:                         28px;
    padding:                        0px 8px;
    line-height:                    28px;
    font-size:                      11px;
    text-align:                     right;
    vertical-align:                 middle;
    border:                         1px #333 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-product-group-page-box-tile .silvercart-product-group-add-cart-form input.text:hover,
.silvercart-product-group-page-box-tile .silvercart-product-group-add-cart-form input.text:focus {
    color:                          #000;
    background-color:               #ddd;
}
.silvercart-product-group-page-box-tile .silvercart-product-group-add-cart-form form.yform label {
    display:                        none;
}
.silvercart-product-group-page-box-tile .silvercart-product-group-add-cart-form_content {
    padding:                        0px;
}

.silvercart-product-group-page-box-tile .silvercart-button {
    margin:                         0px 0px 4px 0px;
}
.silvercart-product-group-page-box-tile .silvercart-button a {
    height:                         28px;
    line-height:                    28px;
    vertical-align:                 middle;
    padding-top:                    0px;
    padding-bottom:                 0px;
}

.silvercart-product-group-page-box-tile h2 a,
.silvercart-product-group-page-box-tile h2 a:visited,
.silvercart-product-group-page-box-tile h3 a,
.silvercart-product-group-page-box-tile h3 a:visited {
    font-size:                      14px;
    font-weight:                    bold;
    color:                          #333;
    text-shadow:                    0px 1px 3px #eee;
}
.silvercart-product-group-page-box-tile p {
    margin:                         0px 0px 4px 0px;
}

.silvercart-product-group-page-box-tile .silvercart-product-text-info {
    height:                         140px;
    padding:                        0px 0px 8px 0px;
    
    overflow:                       hidden;
}
.silvercart-product-group-page-box-tile .silvercart-product-meta-info {
    text-align:                     right;
}

.silvercart-product-group-page-box-tile .silvercart-product-page-box-price {
    font-size:                      13px;
    text-align:                     right;
}
.silvercart-product-group-page-box-tile .silvercart-product-page-box-price small {
    font-size:                      10px;
    line-height:                    130%;
}
.silvercart-product-group-page-box-tile .silvercart-product-availability,
.silvercart-product-group-page-box-tile .silvercart-product-meta-data {
    margin:                         0 0 6px 0;
}
.silvercart-product-group-page-box-tile .silvercart-product-meta-data span.right {
    float:                          right;
    display:                        block;
}

.silvercart-product-group-page-box-tile h2 a,
.silvercart-product-group-page-box-tile h3 a {
    font-size:                      14px;
    font-weight:                    bold;
    color:                          #333;
    text-shadow:                    0px 1px 3px #eee;
}

.silvercart-product-group-page-box-tile .silvercart-product-group-page-box-image a {
    text-align:                     center;
}
.silvercart-product-availability {
    text-align:                     right;
}
.silvercart-product-group-page-box-tile.odd .silvercart-product-group-page-box-tile_content {
    margin:                         0px 1px 6px 1px;
}
.silvercart-product-group-page-box-tile.even .silvercart-product-group-page-box-tile_content {
    margin:                         0px 0px 6px 3px;
}
