#silvercart-headerbar {
    z-index:                        99;
    position:                       fixed;
    width:                          100%;
    height:                         35px;
}
#silvercart-headerbar_content {
    position:                       relative;
    width:                          980px;
    margin:                         0px auto;
}

/* Generic definitions ----------------------------------------------------- */

#silvercart-headerbar .silvercart-button {
    float:                          left;
}
#silvercart-headerbar .right .silvercart-button {
    float:                          right;
}
#silvercart-headerbar .silvercart-button a {
    float:                          left;
    padding:                        5px 10px 6px 10px;
}
#silvercart-headerbar .silvercart-button_content {
    padding:                        0px 4px 0px 0px;
}
#silvercart-headerbar .right .silvercart-button_content {
    padding:                        0px 0px 0px 4px;
}

#silvercart-headerbar .silvercart-button-plain {
    float:                          left;
}
#silvercart-headerbar .silvercart-button-plain_content {
    padding:                        0px 15px 0px 0px;
}

/* Metanavigation section (home and contact buttons) ----------------------- */

.silvercart-meta-navigation {
    padding:                        10px 0px 0px 0px;
}

/* Customer name section --------------------------------------------------- */

#silvercart-customer-name {
    overflow:                       hidden;
    float:                          right;
    width:                          140px;
}
#silvercart-customer-name_content {
    padding:                        5px 8px 0px 0px;
}

/* Action section (checkout and shoppingcart links) ------------------------ */

.silvercart-headerbar-actions {
    padding:                        6px 0px 0px 0px;
}