
.side-bar-cart {}
.side-bar-cart_content {}
.side-bar-cart h3 {}

.side-bar-cart table {
    width: auto;
    border-collapse: collapse;
    border: 0px;
    margin-bottom: 0.5em;
}
.side-bar-cart thead th {
    color: #999;
    border: 0px;
    background: #eee;
}
.side-bar-cart tbody th[scope="row"],
.side-bar-cart tbody th.sub,
.side-bar-cart tbody tr:hover th[scope="row"],
.side-bar-cart tbody tr:hover tbody th.sub,
.side-bar-cart tbody tr:hover td {
    background: transparent;
}
.side-bar-cart thead th,
.side-bar-cart tbody td,
.side-bar-cart tfoot td {
    border-bottom: 1px solid #eee;
}

.side-bar-cart thead th.side-bar-cart-price,
.side-bar-cart tbody th.side-bar-cart-price,
.side-bar-cart tbody td.side-bar-cart-price,
.side-bar-cart tfoot td.side-bar-cart-price {
    text-align: right;
}

.side-bar-cart thead th.side-bar-cart-amount,
.side-bar-cart tbody th.side-bar-cart-amount,
.side-bar-cart tbody td.side-bar-cart-amount {
    text-align: center;
}