#silvercart-headerbar {
    color:                          #fff;
    background:                     #252223;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#3a3436), to(#252223)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #3a3436,  #252223); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #3a3436,  #252223); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3436', endColorstr='#252223'); /* for IE */
    border-bottom:                  1px #9f9a96 solid;
    -moz-box-shadow:                0px 2px 9px #3a3436;
	-webkit-box-shadow:             0px 2px 9px #3a3436;
	box-shadow:                     0px 2px 9px #3a3436;
}
#silvercart-customer-name {
    text-align:                     right;
}

#silvercart-headerbar .silvercart-button a {
    font-size:                      12px;
    text-decoration:                none;
    color:                          #fff;
    background-color:               #42403e;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#42403e), to(#302e2d)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #42403e,  #302e2d); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #42403e,  #302e2d); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#42403e', endColorstr='#302e2d'); /* for IE */
    border:                         1px #676461 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
#silvercart-headerbar .silvercart-button a:hover {
    text-decoration:                none;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#5c5956), to(#464341)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #5c5956,  #464341); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #5c5956,  #464341); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5956', endColorstr='#464341'); /* for IE */
    border:                         1px #87837f solid;
}