#silvercart-footer {
    width:                          980px;
    margin:                         0px auto;
    
    text-align:                     center;
}
#silvercart-footer a {
    color:                          #4a4947;
}