/* General settings -------------------------------------------------------- */

body {
    font-family:                    verdana, sans-serif;
    background:                     #ccc url("../images/bg_body.jpg") left top repeat-x;
}

h1, h2, h3, h4, h5, h6 {
    font-family:                    verdana, sans-serif;
}

a {
    color:                          #0f517b;
}
a:focus {
    outline:                        0 none;
}

h1 {
    font-family:                    georgia, serif;
    font-size:                      28px;
}

.page {
    background:                     #fff;
    border:                         1px #5a554d solid;
    border-top:                     none;
}
    
hr {
    border-bottom: 2px dotted #DDDDDD;
}

/* Headlines --------------------------------------------------------------- */

#col1 h2,
#col4 h2 {
    font-size:                      18px;
    color:                          #0f517b;
    border-bottom:                  2px #ddd dotted;
}
#col1 h3,
#col4 h3 {
    font-size:                      14px;
    color:                          #0f517b;
}

/* Tables ------------------------------------------------------------------ */

table {
    border:                         1px #eee solid;
    border-collapse:                collapse;
}
table tr:hover td {
    fonr-size:                      12px;
    background:                     none;
}

/* Helper classes ---------------------------------------------------------- */

.hidden-form {
    display: none;
}

/* Highlighted messages ---------------------------------------------------- */

p.silvercart-message {
    
}
p.silvercart-message.info16 {
    background: url(/silvercart/images/icons/16x16_info.png) no-repeat left center;
}
p.silvercart-message.highlighted.info16 {
    background-color: #efefef;
    line-height: 16px;
}
p.silvercart-message.info32 {
    background: url(/silvercart/images/icons/32x32_info.png) no-repeat left center;
}
p.silvercart-message.highlighted.info32 {
    background-color: #efefef;
    line-height: 32px;
}
p.silvercart-message.info48 {
    background: url(/silvercart/images/icons/48x48_info.png) no-repeat left center;
}
p.silvercart-message.highlighted.info48 {
    background-color: #efefef;
    line-height: 48px;
}
p.silvercart-message.error16 {
    background: url(/silvercart/images/icons/16x16_error.png) no-repeat left center;
}
p.silvercart-message.highlighted.error16 {
    background-color: #efefef;
    line-height: 16px;
}
p.silvercart-message.error32 {
    background: url(/silvercart/images/icons/32x32_error.png) no-repeat left center;
}
p.silvercart-message.highlighted.error32 {
    background-color: #efefef;
    line-height: 32px;
}
p.silvercart-message.error48 {
    background: url(/silvercart/images/icons/48x48_error.png) no-repeat left center;
}
p.silvercart-message.highlighted.error48 {
    background-color: #efefef;
    line-height: 48px;
}

/* Buttons ----------------------------------------------------------------- */

.silvercart-button a,
.silvercart-button-small a {
    line-height:                    100%;
    font-size:                      12px;
    text-align:                     center;
    color:                          #fff;
    background:                     #555;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#777), to(#444)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #777,  #444); /* for firefox 3.6+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#777', endColorstr='#444'); /* for IE */
    border:                         1px #444 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-button-small a {
    font-size:                      11px;
}
.silvercart-button a:hover,
.silvercart-button-small a:hover {
    text-decoration:                none;
    color:                          #fff;
    background-color:               #444;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#666), to(#333)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #666,  #333); /* for firefox 3.6+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#333'); /* for IE */
}

/* Icon only buttons ------------------------------------------------------- */

.silvercart-icon-button {
    color:                          #000;
    background:                     #d9d9d9;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d9d9d9)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #ffffff,  #d9d9d9); /* for firefox 3.6+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9'); /* for IE */
    text-decoration:                none;
    border:                         1px #999 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-icon-button:hover {
    color:                          #000;
    text-decoration:                none;
    background-color:               #cecece;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cecece)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #eeeeee,  #cecece); /* for firefox 3.6+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cecece'); /* for IE */
}
.silvercart-icon-button:visited {
    color:                          #000;
    text-decoration:                none;
}
.edit32 .silvercart-icon-button_content {
    background:                     url(/silvercart/images/icons/32x32_notepad.png) no-repeat center center;
}
.delete32 .silvercart-icon-button_content {
    background:                     url(/silvercart/images/icons/32x32_recycle_bin_empty.png) no-repeat center center;
}

/* Icon with text buttons -------------------------------------------------- */

.silvercart-icon-with-text-button {
    
}
.silvercart-icon-with-text-button.big {
    font-size: 1.5em;
}
.silvercart-icon-with-text-button.p {
    line-height: 1.5em;
}
.silvercart-icon-with-text-button.add16 {
    background: url(/silvercart/images/icons/16x16_add.png) no-repeat left center;
}
.silvercart-icon-with-text-button.set-as16 {
    background: url(/silvercart/images/icons/16x16_task.png) no-repeat left center;
}
.silvercart-icon-with-text-button.set-as32 {
    background: url(/silvercart/images/icons/32x32_task.png) no-repeat left center;
}
.silvercart-icon-with-text-button.set-as48 {
    background: url(/silvercart/images/icons/48x48_task.png) no-repeat left center;
}

/* Silvercart header ------------------------------------------------------- */

#silvercart-header {
    background:                     #efefeb url("../images/bg_header.png") left bottom repeat-x;
}

#silvercart-shop-claim-text h1 {
    line-height:                    100%;
}
#silvercart-shop-claim-text h1 a {
    color:                          #0f517b;
}
#silvercart-shop-claim-text p {
    font-family:                    georgia, serif;
    font-size:                      14px;
    color:                          #3a3436;
}