.silvercart-product-group-page-box {
    padding:                        0px 0px 9px 0px;
}
.silvercart-product-group-page-box p {
    margin:                         0px 0px 4px 0px;
}

.silvercart-product-group-page-box form.yform {
    margin:                         0px;
    padding:                        0px;
}
.silvercart-product-group-page-box form.yform fieldset {
    margin:                         0px;
    padding:                        0px;
}
.silvercart-product-group-add-cart-form input.text {
    width:                          2em;
}
.silvercart-product-group-add-cart-form form.yform label {
    display:                        none;
}
.silvercart-product-group-add-cart-form {
    margin:                         0px 0px 8px 0px;
}
.silvercart-product-group-add-cart-form_content {
    padding:                        4px;
}

.silvercart-product-group-page-box .silvercart-product-group-page-box-image a {
    display:                        block;
}
.silvercart-product-group-page-box .silvercart-product-group-page-box-image img {
    display:                        inline-block;
}

.silvercart-product-page-box-price {
    padding:                        0px 6px 6px 0px;
}

.silvercart-product-text-info {
    padding:                        0px 0px 8px 0px;
}