.silvercart-widget {
    font-size:                      12px;
}
.silvercart-widget_content {
    background:                     #ffffff;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ffffff)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #fafafa,  #ffffff); /* for firefox 3.6+ */ 
    background:                     -o-linear-gradient(top,  #fafafa,  #ffffff); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffffff'); /* for IE */
    border:                         1px #e1e1e1 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-widget-content_frame {
    border-top:                     1px #ddd solid;
}
.silvercart-widget h2,
#col1 .silvercart-widget h2,/* Widgets in content area */
#col4 .silvercart-widget h2 /* Widgets in content area */ {
    font-size:                      13px;
    font-weight:                    normal;
    color:                          #333;
    background:                     #ffffff;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ffffff)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #e1e1e1,  #ffffff); /* for firefox 3.6+ */
    background:                     -o-linear-gradient(top,  #e1e1e1,  #ffffff); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#ffffff'); /* for IE */
    border:                         none;
}
.silvercart-widget h3,
#col1 .silvercart-widget h3,/* Widgets in content area */
#col4 .silvercart-widget h3 /* Widgets in content area */ {
    font-size:                      12px;
}
.silvercart-widget p {
    font-size:                      11px;
}

/* YAML vlist -------------------------------------------------------------- */

.silvercart-widget .vlist li a,
.silvercart-widget .vlist li strong,
.silvercart-widget .vlist li span {
    font-weight:                    normal;
    color:                          #333;
    border-bottom:                  1px #eee dotted;
}
.silvercart-widget .vlist li strong {
    font-weight:                    bold;
}
.silvercart-widget .vlist li:last-child a,
.silvercart-widget .vlist li:last-child strong,
.silvercart-widget .vlist li:last-child span {
    border-bottom:                  none;
}
.silvercart-widget .vlist li a:hover {
    text-decoration:                none;
    background-color:               #e6f2f7;
}
.silvercart-widget .vlist ul ul {
    color:                          #333;
    list-style:                     disc;
}

/* Product boxes ----------------------------------------------------------- */

.silvercart-widget .silvercart-product-box {
    color:                          #333;
    border-top:                     1px #ddd solid;
    background:                     #ffffff;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#ffffff)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #f6f6f6,  #ffffff); /* for firefox 3.6+ */
    background:                     -o-linear-gradient(top,  #f6f6f6,  #ffffff); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff'); /* for IE */
}
.silvercart-widget .silvercart-product-box h3 {
    font-size:                      12px;
    font-weight:                    bold;
}
.silvercart-widget .silvercart-product-box h3 a {
    color:                          #444;
    text-shadow:                    0px 1px 3px #eee;
}
.silvercart-widget .silvercart-product-box p.silvercart-price {
    font-size:                      12px;
}
.silvercart-widget .silvercart-product-box small {
    font-size:                      10px;
}

.silvercart-widget .silvercart-product-box .product-group-page-image a {
    text-align:                     center;
    border:                         1px #d1d1d1 solid;
    border:                         none;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}

/* Tables ------------------------------------------------------------------ */

.silvercart-widget table {
    font-size:                      11px;
}
.silvercart-widget table thead th {
    border-bottom:                  1px #bbb solid;
}
.silvercart-widget table tbody tr:last-child td {
    border-bottom:                  1px #bbb solid;
}
.silvercart-widget table tbody a {
    color:                          #333;
}
.silvercart-widget table .left {
    text-align:                     left;
}
.silvercart-widget table .right {
    text-align:                     right;
}

/* Login ------------------------------------------------------------------- */

.silvercart-widget-login form.yform {
    background:                     none;
    border:                         none;
}

/* Search ------------------------------------------------------------------ */
.
.silvercart-widget-search form.yform {
    background:                     none;
    border:                         none;
}