.silvercart-product-group-page-box-list {
    padding:                        0px 0px 9px 0px;
    color:                          #333;
}
.silvercart-product-group-page-box-list p {
    margin:                         0px 0px 4px 0px;
}

.silvercart-product-group-page-box-list form.yform {
    margin:                         0px;
    padding:                        0px;
    
    border:                         none;
    background:                     none;
}
.silvercart-product-group-page-box-list form.yform fieldset {
    margin:                         0px;
    padding:                        0px;
    
    border:                         none;
    background:                     none;
}
#col1 .silvercart-product-group-page-box-list h3 {
    border-bottom:                  1px #e2e2e2 solid;
    padding:                        0px 0px 4px 0px;
}
.silvercart-product-group-page-box-list h3 a,
.silvercart-product-group-page-box-list h3 a:visited {
    font-size:                      14px;
    font-weight:                    bold;
    color:                          #333;
    text-shadow:                    0px 1px 3px #eee;
}
.silvercart-product-group-page-box-list .silvercart-product-group-add-cart-form input.text {
    width:                          2em;
    height:                         28px;
    padding:                        0px 8px;
    line-height:                    28px;
    vertical-align:                 middle;
    font-size:                      11px;
    border:                         1px #333 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-product-group-page-box-list .silvercart-product-group-add-cart-form input.text:hover,
.silvercart-product-group-page-box-list .silvercart-product-group-add-cart-form input.text:focus {
    color:                          #000;
    background-color:               #ddd;
}
.silvercart-product-group-page-box-list .silvercart-product-group-add-cart-form form.yform {
    background:                     none;
}
.silvercart-product-group-page-box-list .silvercart-product-group-add-cart-form form.yform label {
    display:                        none;
}
.silvercart-product-group-page-box-list .silvercart-product-group-add-cart-form {
    margin:                         0px 0px 8px 0px;
}
.silvercart-product-group-page-box-list .silvercart-product-group-add-cart-form_content {
    padding:                        4px;
    text-align:                     right;
}

.silvercart-product-group-page-box-list .silvercart-button a {
    height:                         28px;
    line-height:                    28px;
    vertical-align:                 middle;
    padding-top:                    0px;
    padding-bottom:                 0px;
}
.silvercart-product-group-page-box-list .silvercart-product-group-page-box-image a {
    display:                        block;
    
    text-align:                     center;
}
.silvercart-product-group-page-box-list .silvercart-product-group-page-box-image img {
    display:                        inline-block;
}
.silvercart-product-group-page .silvercart-product-group-page-box-list:last-child {
    border-bottom:                  none;
}

.silvercart-product-group-page-box-list .silvercart-product-page-box-price {
    padding:                        0px 6px 6px 0px;
    
    font-size:                      13px;
    text-align:                     right;
}
.silvercart-product-group-page-box-list .silvercart-product-availability,
.silvercart-product-group-page-box-list .silvercart-product-meta-data {
    padding:                        0 6px 6px 0;
    margin:                         0 0 6px 0;
}
.silvercart-product-group-page-box-list .silvercart-product-meta-data span.right {
    float:                          right;
    display:                        block;
}
.silvercart-product-group-page-box-list .silvercart-product-page-box-price small {
    font-size:                      10px;
    line-height:                    130%;
}

.silvercart-product-group-page-box-list .silvercart-product-text-info {
    padding:                        0px 0px 8px 0px;
}
