/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) IE patch stylesheet
 * (de) IE-Anpassungs-Stylesheet
 *
 * @creator       YAML Builder V1.2 (http://builder.yaml.de)
 * @file          patch_my_layout.css
 * @-yaml-minver  3.2
 */

/* Layout independent adjustments | Layout-unabhängige Anpassungen  */
@import url(../../yaml/core/iehacks.css);

/* Layout-dependent adjustments | Layout-abhängige Anpassungen */
@media screen, projection {
    
/* General settings -------------------------------------------------------- */

    .c90l, .c65l, .c45l, .c30l, .c10l,
    .c90r, .c65r, .c45r, .c30r, .c10r { display:inline; }
    
/* SilverCart Headerbar ---------------------------------------------------- */

    #silvercart-headerbar {
        position: static;
    }
    
/* General settings -------------------------------------------------------- */

    .page_margins {
        padding-top: 0px;
    }
    
/* Quicksearch form -------------------------------------------------------- */

    #silvercart-quicksearch-form form.yform div.type-text {
        width: 136px;
    }
}
