docs/de/Userbase/02_Einrichtung/01_Widgets/02_Schnäppchen/index.md
docs/de/Userbase/02_Einrichtung/01_Widgets/02_Schnäppchen/_images/backend_einstellungen_widgets_schnaeppchen_1.png
docs/de/Userbase/02_Einrichtung/01_Widgets/04_Neueste-Blogeinträge-anzeigen/index.md
docs/de/Userbase/02_Einrichtung/01_Widgets/12_Die-häufigsten-Suchbegriffe/index.md
docs/de/Userbase/02_Einrichtung/01_Widgets/12_Die-häufigsten-Suchbegriffe/_images/widget-searchcloud-backend.png
docs/de/Userbase/02_Einrichtung/01_Widgets/12_Die-häufigsten-Suchbegriffe/_images/widget-searchcloud-frontend.png
