<Files *.ss>
	Order deny,allow
	Deny from all
	Allow from 127.0.0.1
</Files>

<Files *.php>
	Order deny,allow
	Deny from all
	Allow from 127.0.0.1
</Files>

<Files *.log>
	Order deny,allow
	Deny from all
	Allow from 127.0.0.1
</Files>