a {
  color:#0069b4;
}
a:hover, a:active {
  color:#0069b4;
  text-decoration:underline;
}
a.highlight:link, a.highlight:visited {
  color:#666;
}
a.highlight:hover, a.highlight:active {
  color:#0069b4;
  text-decoration:none;
}
a.active:link, a.active:visited {
  color:#0069b4;
  cursor:default;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background:#0069b4;
  background-color:#0069b4;
  filter:#0069b4;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background:#0069b4;
  background-color:#0069b4;
  filter: #0069b4;
}

.navbar .nav > li:hover {
  background:#407F9D;
}

.navbar .nav .active a,
.navbar .nav .active a:hover,
.navbar .nav .active a:focus
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > .active > a i,
.navbar .nav > .active > a:focus i,
.navbar .nav > .active > a:hover i,
.navbar .nav > .active > a span,
.navbar .nav > .active > a:focus span,
.navbar .nav > .active > a:hover span {
  background: #407F9D;
  background-color: #407F9D;
  filter:#407F9D;
  color: #fff;
  -webkit-text-shadow:0 1px 0 rgba(0,0,0,.1);
  -moz-text-shadow:0 1px 0 rgba(0,0,0,.1);
  text-shadow:0 1px 0 rgba(0,0,0,.1);
  cursor:default;
}
/* nested ul */
.navbar .nav div {
  background: #407F9D;
}


.btn-primary {
  border:1px solid #407F9D;
  background: #2989d8;
  background: -moz-linear-gradient(top, #4D9BBF 0%, #407F9D 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D9BBF), color-stop(100%,#407F9D));
  background: -webkit-linear-gradient(top, #4D9BBF 0%,#407F9D 100%);
  background: -o-linear-gradient(top, #4D9BBF 0%,#407F9D 100%);
  background: -ms-linear-gradient(top, #4D9BBF 0%,#407F9D 100%);
  background: linear-gradient(to bottom, #4D9BBF 0%,#407F9D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D9BBF', endColorstr='#407F9D',GradientType=0 );
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background: #407F9D;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #2989d8;
}