@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2 (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.2
 */

@media screen, projection
{
  /**
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */

  body { overflow-y: scroll; }

  /*-------------------------------------------------------------------------*/

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body { background: #fff url("images/bg.jpg") repeat-x top left fixed; padding: 0; }

  #headerbar {
      background: url("images/bg_headerbar.png") repeat-x;
      height: 44px;
      width: 100%;
      position:fixed; left: 0; top:0; z-index: 100;
  }

  /* Layout Alignment | Layout-Ausrichtung */  /* Layout Properties | Layout-Eigenschaften */
  .page_margins { width: 980px; margin: 0 auto ; background: #fff; }

  .page { padding: 0; border: 1px black solid }
  #header { padding: 0 ; color: #000; background: #e2e6e9 url("images/bg_header.png") repeat-x; height: 252px; width: 100%; margin-top: 40px; }
  #topnav { position:static; color: #aaa; background: transparent;  }
  #header #topnav { }
  #nav { overflow:hidden; }
  div.hlist {  }
  #main { margin: 0; background: #fff; }
  #teaser { clear:both; }
  #footer {width:100%; text-align: center; background: transparent; }

  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #nav ul { margin-left: 1px; }

  /*-------------------------------------------------------------------------*/


  #main { float: left; width: 100% }
  #teaser { display: none; }


  #col1 { float: left; width: 70%}
  #col2 { display:none}
  #col3 { width: auto; margin: 0 0 0 70%}
  #col1_content { padding: 20px 10px 0 20px }
  #col2 { display:none}
  #col3_content { padding: 20px 20px 0 10px }
  #col4 {float: left; width: 30%;}
  #col4_content {padding: 20px 20px 0 10px }
  #col5 {float: left; width: 70%; margin: 0;}
  #col5_content {padding: 20px 20px 0 10px }

    /* SEARCH HEADERBAR LIST STYLES
  ------------------------------------------------ */
  .headerbar_margins {margin: 0 auto; width:980px; }
  .headerbar_content {padding: 10px 20px 10px 20px;}
  #headerbar a {color:#ccc}
  #headerbar .subcr {text-align: right;}
  #headerbar .button {padding: 3px 10px 3px 10px; line-height: 15px; border: 1px #ccc solid; display: inline-block; text-align: center; cursor:pointer;}

}