

    /* SEARCH HEADERBAR LIST STYLES
  ------------------------------------------------ */
    .headerbar_margins {margin: 0 auto; width:980px; }
    .headerbar_content {padding: 6px 0 6px 10px;}
    #headerbar  {font-size : 85%;}
    .headerbar_content, #headerbar a {color:#ccc}
    #headerbar  .subcr {text-align: right;}
    #headerbar  .button {padding: 3px 10px 3px 10px; line-height: 15px; border: 1px #ccc solid; display: inline-block; text-align: center; cursor:pointer;}

    .paddinHeaderText {padding: 4px 0;}

    #SearchForm_SearchForm .action {
        font-size: 0;
        cursor: pointer;
    }

    /* HEADER STYLES
  ------------------------------------------------ */
    #header .c40l img {margin: 80px 0 auto 40px}
    
    /*--- Headings | Überschriften ------------------------------------------------------------------------*/
    h1 { font-size:170%; color:#0f517b }
    h2 { font-size:150%; color:#0f517b }
    h3 a,  h3 a:visited { color:#0f517b }

    /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */
    pre, code { color:#800; }

    /*--- Links ----------------------------------------------------------------------------------------- */
    a:hover,
    a:active { color:#0f517b; text-decoration:underline; outline: 0 none; }

    /**
     * ------------------------------------------------------------------------------------------------- #
     *
     * Tables | Tabellen
     *
     * (en) Generic classes for table-width and design definition
     * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
     *
     * @section content-tables
    */
    thead th { color:#000; border-bottom:1px #800 solid; }
    tfoot td {border-top: 1px #800 solid; }

    /* ------ Everything about the Blog ------ */

    .BlogSideBar h3{
        color: #0f517b;
        font-size:150%;
    }

    .postTitle a{
        color: #0f517b;
        font-size:100%;
    }

    .BlogPageComments h4{
        color: #0f517b;
        font-size: 150%;
    }

    #PageNumbers a{
        color: #0f517b;
        font-size: 100%;
    }


/** SLIDER **/

.pikachoose a{color:white;}
.pikachoose{width:100%;position:relative; }

.jcarousel-skin-pika,.no-carousel{top:15px;right: 30px;position:absolute;}
.jcarousel-skin-pika{right:90px;}
.pika-image {margin-top: 20px; left:0; height: 100%; width: 408px;}
	/*position image holders */
	.pika-image .animation, .pika-image .main-image {position: absolute; top: 0; left: 0; right: 0;}
	.pika-image .animation {display: none;z-index:2;}
	.pika-image img {border:0;}

.pika-image .caption {position: absolute; background: url(../../images/slider/default/75-black.png);  border: 1px solid #141414; font-size: 11px; color: #fafafa; padding: 10px; text-align: right; bottom: 50px; right: 0;}
	.pika-image .caption p {padding: 0; margin: 0; line-height: 14px;}

.pika-thumbs {margin: 0; padding: 0; overflow: hidden; }
	.pika-thumbs li {float: left; list-style-type: none; width: 124px; margin: 0 0 9px 0; cursor: pointer;}
		.pika-thumbs li:last {margin: 0;}
		.pika-thumbs li .clip {position:relative;width: 124px; height: 64px; text-align: center; vertical-align: center; overflow: hidden;}

ul.no-carousel{width:124px; top: 0;}

/** STARTPAGE **/

span.more-info-button {
    background-color: #8d3c2c;
    height: 24px;
    color: #fff;
    padding: 0 15px;
    line-height: 24px;
    display: block;
    float: left;
}

span.more-info-button a {
    color: #fff;
}

.top-collections a:hover,
.bottom-collections a:hover {
    text-decoration: none;
}

span.more-info-button-right {
    background: url('images/more-info-button-arrow.png') no-repeat;
    height: 24px;
    width: 13px;
    display: block;
    float: left;
}

.frontpage-product-button {
    z-index: 5;
    left: 0;
    bottom:0;
    position: absolute;
}

.frontpage-product-headline {
    z-index: 5;
    font-size: 130%;
    margin-left: 5px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2.5em;
}

.frontpage-product h1 a,
.frontpage-product-price {
    color: #0f517b;
}

.frontpage-product-image {
    z-index: 2;
}

div.frontpage-product {
    width: 270px;
    position: relative;
    margin: 0 0 10px 0;
}

.bottom-collections {
    margin-top: 30px;
}

.top-collections {
    margin-top: 10px;
}

.frontpage-product-price {
    position: absolute;
    bottom: 0;
    right: 5px;
    line-height: 1.8em;
    font-size: 1.7em;
}