/*
	AnythingSlider Silvercart default Theme
*/
/* Opera width restriction */
.anythingBase { max-width: 32766px; }

/* Default State */
div.anythingSlider {
    display:                    block;
    overflow:                   visible !important; /* needed for Opera and Safari */
    position:                   relative;
}
div.anythingSlider .anythingWindow {
    overflow:                   hidden;
    position:                   relative;
    height:                     100%;
}
.anythingBase {
    background:                 transparent;
    list-style:                 none;
    position:                   absolute;
    overflow:                   visible !important;
    top:                        0;
    left:                       0;
    margin:                     0;
    padding:                    0;
}
.anythingBase .panel {
    background:                 transparent;
    display:                    block;
    overflow:                   hidden;
    float:                      left;
    padding:                    0;
    margin:                     0;
}
.anythingBase .panel.vertical {
    float:                      none;
}
/* Navigation Arrows */
div.anythingSlider .arrow {
    position:                   absolute;
    display:                    block;
}
div.anythingSlider .arrow a {
    display:                    block;
    text-align:                 center;
    outline:                    0;
}
div.anythingSlider .arrow a span {
    /**
    display:                    block;
    text-indent:                -9999px;
    /**/
}
div.anythingSlider .forward.disabled,
div.anythingSlider .back.disabled {
    display:                    none;
}
/* Navigation Links */
div.anythingSlider .anythingControls {
    outline:                    0;
    display:                    none;
}
div.anythingSlider .anythingControls ul {
    margin: 0;
    padding: 0;
}
div.anythingSlider .anythingControls ul li {
    display:                    inline;
}
div.anythingSlider .anythingControls ul a {
    display:                    inline-block;
    text-decoration:            none;
    text-align:                 center;
    outline:                    0;
}
/* Navigation size window */
div.anythingSlider .anythingControls .anythingNavWindow {
    overflow:                   hidden;
    float:                      left;
}
/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider.rtl .anythingControls ul a {
    float:                      right;
}
div.anythingSlider.rtl .anythingControls ul {
    float:                      left;
}
div.anythingSlider.rtl .anythingWindow {
    direction:                  ltr;
    unicode-bidi:               bidi-override;
}
/* Autoplay Start/Stop button */
div.anythingSlider .start-stop {
    padding:                    2px 5px;
    text-align:                 center;
    text-decoration:            none;
    float:                      right;
    z-index:                    100;
    outline:                    0;
}
/* probably not necessary, but added just in case */
div.anythingSlider,
div.anythingSlider .anythingWindow,
div.anythingSlider .anythingControls ul a,
div.anythingSlider .arrow a,
div.anythingSlider .start-stop {
    transition-duration:            0;
    -o-transition-duration:         0;
    -moz-transition-duration:       0;
    -webkit-transition-duration:    0;
}
/* Specific them styles */
div.anythingSlider-silvercart-default {
    width:                      100%;
    margin:                     0px;
    padding:                    28px 0px 0px 0px;
}
div.anythingSlider-silvercart-default .anythingWindow {
    width:                      100%;
    border:                     none;
}
div.anythingSlider-silvercart-default .anythingWindow .panel {
    width:                      100%;
}

/* Active State */
div.anythingSlider-silvercart-default .anythingWindow
div.anythingSlider-silvercart-default.activeSlider .anythingWindow {
    border:                         none;
}
div.anythingSlider-silvercart-default .start-stop:hover,
div.anythingSlider-silvercart-default .start-stop.hover {
}

/* Navigation Arrows (back/forward) */
div.anythingSlider-silvercart-default .arrow {
    position:                   absolute;
    top:                        0px;
    left:                       0px;
}
div.anythingSlider-silvercart-default .arrow a {
    width:                      20px;
    height:                     20px;
    float:                      left;
    color:                      #fff;
    background:                 #fff;
    border:                     1px #ccc solid;
    border-radius:              2px;
    -moz-border-radius:         2px;
    -o-border-radius:           2px;
    -webkit-border-radius:      2px;
    margin:                     0px;
}
div.anythingSlider-silvercart-default .arrow a span {
    display:                    block;
    color:                      #333;
    text-indent:                0px;
    padding:                    2px 0px 0px 0px;
}
div.anythingSlider-silvercart-default .forward {
    left:                       24px;
}
div.anythingSlider-silvercart-default .back {
    left:                       0px;
}
div.anythingSlider-silvercart-default .forward a {
}
div.anythingSlider-silvercart-default .back a {
}
div.anythingSlider-silvercart-default .forward a:hover,
div.anythingSlider-silvercart-default .forward a.hover {
    border-color:               #333;
}
div.anythingSlider-silvercart-default .back a:hover,
div.anythingSlider-silvercart-default .back a.hover {
    border-color:               #333;
}

/* Navigation Links */
div.anythingSlider-silvercart-default .anythingControls {
    float:                      none;
    width:                      600px;
    position:                   absolute;
    top:                        0px;
    left:                       52px;
    z-index:                    2;
}
div.anythingSlider-silvercart-default .anythingControls ul {
    float:                      none;
    display:                    inline-block;
    width:                      88%;
    text-align:                 center;
}
div.anythingSlider-silvercart-default .anythingControls ul li {
    margin:                     0px;
    padding:                    0px;
}
div.anythingSlider-silvercart-default .anythingControls ul a {
    width:                      14px;
    height:                     14px;
    color:                      #333;
    background:                 none;
    border:                     1px #ccc solid;
    border-radius:              12px;
    -moz-border-radius:         12px;
    -o-border-radius:           12px;
    -webkit-border-radius:      12px;
    padding:                    0px;
}
div.anythingSlider-silvercart-default .anythingControls ul a span {
    display:                    inline-block;
    width:                      8px;
    height:                     8px;
    font-size:                  1px;
    color:                      #fff;
    background:                 #fff;
    border-radius:              12px;
    -moz-border-radius:         12px;
    -o-border-radius:           12px;
    -webkit-border-radius:      12px;
    margin:                     3px 0px 0px 0px;
}
div.anythingSlider-silvercart-default .anythingControls ul a.cur span {
    color:                      #333;
    background:                 #333;
}
div.anythingSlider-silvercart-default .anythingControls ul a,
div.anythingSlider-silvercart-default.activeSlider .anythingControls ul a {
    color:                      #333;
    background:                 none;
    margin:                     0px 2px 0px 0px;
}
div.anythingSlider-silvercart-default .anythingControls ul a:hover,
div.anythingSlider-silvercart-default .anythingControls ul a.cur {
    background:                 #fff;
    margin:                     0px 2px 0px 0px;
}
div.anythingSlider-silvercart-default .anythingControls ul a:hover,
div.anythingSlider-silvercart-default .anythingControls ul a.cur,
div.anythingSlider-silvercart-default.activeSlider .anythingControls ul a:hover,
div.anythingSlider-silvercart-default.activeSlider .anythingControls ul a.cur {
    background:                 #fff;
    border-color:               #333;
}

/* Navigation size window arrows */
div.anythingSlider-silvercart-default .anythingControls li.next a span,
div.anythingSlider-silvercart-default .anythingControls li.prev a span {
}
div.anythingSlider-silvercart-default .anythingControls li.prev a,
div.anythingSlider-silvercart-default .anythingControls li.next a {
}
div.anythingSlider-silvercart-default .anythingControls li.next a:hover,
div.anythingSlider-silvercart-default .anythingControls li.prev a:hover {
}

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider-silvercart-default.rtl .anythingControls ul a {
}
div.anythingSlider-silvercart-default.rtl .anythingControls ul {
}

/* Autoplay Start/Stop button */
div.anythingSlider-silvercart-default .start-stop {
    display:                    inline-block;
    width:                      10%;
    color:                      #333;
    background:                 #fff;
    border:                     1px #ccc solid;
    border-radius:              2px;
    -moz-border-radius:         2px;
    -o-border-radius:           2px;
    -webkit-border-radius:      2px;
}
div.anythingSlider-silvercart-default .start-stop:hover,
div.anythingSlider-silvercart-default .start-stop.hover {
    color:                      #333;
    background:                 #fff;
}
div.anythingSlider-silvercart-default .start-stop.playing,
div.anythingSlider-silvercart-default.activeSlider .start-stop.playing {
    color:                      #333;
    background:                 #fff;
}

/* Sidebar Widget */
.silvercart-widget div.anythingSlider-silvercart-default .anythingControls {
    width:                      215px;
}
.silvercart-widget div.anythingSlider-silvercart-default .anythingControls ul {
    margin:                     4px 0px 0px 0px;
    width:                      160px;
}
.silvercart-widget div.anythingSlider-silvercart-default .start-stop {
    width:                      43px;
}