.silvercart-clearfix {
    clear:              both;
}

#silvercart-onePane {
    background:         #eee;
    border:             1px #fff solid;
    border-radius:      3px;
    margin:             12px 4px;
    padding:            8px;
}
#silvercart-onePane h2 {
    margin:             0px 0px 4px 0px;
}
.silvercart-onePane-metrics {
    float:              left;
    width:              50%;
    padding:            0px 20px 0px 0px;
}
.silvercart-onePane-metrics h3 {
    font-size:          16px;
    margin:             0px 0px 0px 0px;
}

.silvercart-onePane-panels {
    float:              left;
    width:              48%;
    padding:            50px 0px 0px 0px;
}
#silvercart-onePane .silvercart-onePane-panels h2 {
    font-size:          16px;
    margin:             0px 0px 1px 0px;
}
.silvercart-dashboard-news-entry {
    background:         #fff;
    border:             1px #bbb solid;
    border-radius:      3px;
    margin:             0px 0px 10px 0px;
} .silvercart-dashboard-news-entry_content {
    padding:            4px;
}
.silvercart-dashboard-news-entry h3 {
    font-size:          12px;
    margin:             0px 0px 3px 0px;
}
.silvercart-dashboard-news-entry .date {
    font-size:          10px;
    color:              #666;
    margin:             0px 0px 1px 0px;
}
.silvercart-dashboard-news-entry .author {
    font-size:          10px;
    color:              #666;
    margin:             0px 0px 6px 0px;
}
.silvercart-dashboard-news-entry p {
    text-align:         justify;
}
.silvercart-dashboard-news-entry .silvercart-button a {
    display:            block;
    font-size:          11px;
    text-align:         center;
    text-decoration:    none;
    margin:             6px 0px 0px 0px;
    padding:            3px 12px;
    line-height:                    100%;
    color:                          #333;
    background:                     #eee;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d9d9d9)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #fff,  #d9d9d9); /* for firefox 3.6+ */
    background:                     -o-linear-gradient(top,  #fff,  #d9d9d9); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9'); /* for IE */
    border:                         1px #999 solid;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
}
.silvercart-dashboard-news-entry .silvercart-button a:hover {
    text-decoration:                none;
    color:                          #000;
    background-color:               #ddd;
    background:                     -webkit-gradient(linear, left top, left bottom, from(#eee), to(#c9c9c9)); /* for webkit browsers */
    background:                     -moz-linear-gradient(top,  #eee,  #c9c9c9); /* for firefox 3.6+ */
    background:                     -o-linear-gradient(top,  #eee,  #c9c9c9); /* for opera 11.10+ */
    filter:                         progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#c9c9c9'); /* for IE */
}
.silvercart-widget {
    margin:             0px 0px 10px 0px;
}

