.silvercart-clearfix {
    clear:              both;
}

#silvercart-onePane {
    background:         #eee;
    border:             1px #fff solid;
    border-radius:      3px;
    margin:             12px 4px;
    padding:            8px;
}
#silvercart-onePane h2 {
    margin:             0px 0px 4px 0px;
}
.silvercart-onePane-metrics {
    float:              left;
    width:              50%;
    padding:            0px 20px 0px 0px;
}
.silvercart-onePane-metrics h3 {
    font-size:          16px;
    margin:             0px 0px 0px 0px;
}

.silvercart-onePane-panels {
    float:              left;
    width:              48%;
    padding:            50px 0px 0px 0px;
}
#silvercart-onePane .silvercart-onePane-panels h2 {
    font-size:          16px;
    margin:             0px 0px 1px 0px;
}
.silvercart-dashboard-news-entry {
    background:         #fff;
    border:             1px #bbb solid;
    border-radius:      3px;
    margin:             0px 0px 10px 0px;
} .silvercart-dashboard-news-entry_content {
    padding:            4px;
}
.silvercart-dashboard-news-entry h3 {
    font-size:          12px;
    margin:             0px 0px 3px 0px;
}
.silvercart-dashboard-news-entry .date {
    font-size:          10px;
    color:              #666;
    margin:             0px 0px 1px 0px;
}
.silvercart-dashboard-news-entry .author {
    font-size:          10px;
    color:              #666;
    margin:             0px 0px 6px 0px;
}
.silvercart-dashboard-news-entry p {
    text-align:         justify;
}
.silvercart-dashboard-news-entry .silvercart-button a {
    display:            block;
    font-size:          11px;
    text-align:         center;
    text-decoration:    none;
    margin:             6px 0px 0px 0px;
    padding:            3px 12px;
    line-height:                    100%;
    border-radius:                  3px;
    -moz-border-radius:             3px;
    -webkit-border-radius:          3px;
    $DefaultButton.Css
}
.silvercart-dashboard-news-entry .silvercart-button a:hover {
    text-decoration:                none;
    $DefaultButton.CssHover
}
.silvercart-widget {
    margin:             0px 0px 10px 0px;
}


/*******************************************************************************
        model admin right part, especially forms
*******************************************************************************/
.silvercart-fieldgroup {
    
}
.silvercart-fieldgroup .fieldgroup {

}
.silvercart-break {
    color: #ff0000;
}
.silvercart-break:after,
.silvercart-fieldgroup .fieldgroup:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.silvercart-fieldgroup .fieldgroupField {
    float: left;
    padding: 6px 12px 6px 0;
    min-width: 140px;
}
.silvercart-fieldgroup .fieldgroupField label {
    display: block;
}
.silvercart-fieldgroup .fieldgroupField select {
    
}
.silvercart-fieldgroup .fieldgroupField input[type="checkbox"] {
    float: left;
    margin: 0 4px 0 0;
    height: 34px;
}
.silvercart-fieldgroup .fieldgroupField input[type="checkbox"] ~ label {
    line-height: 34px;
    white-space: nowrap;
}
.silvercart-form-highlight,
.silvercart-field-group {
    background: #E9E9E9;
    padding:    6px;
    margin:     6px 0;
}

.right form .field span.readonly.silvercartmoney,
.right form input.silvercartmoney,
.right form .field.silvercartmoney input.text {
    width: 100px;
    text-align: right;
}
.right form .field span.readonly.silvercartmoney {
    display: inline-block;
}

.silvercart-batch-option-callback-target {
    display: inline-block;
}

.right form .silvercart-batch-option-callback-target .field label.left,
.right form .silvercart-batch-option-callback-target .field .middleColumn {
    display:    inline-block;
    width:      auto;
}