.silvercart-clearfix {
    clear:              both;
}
.silvercart-widget {
    margin:             0px 0px 10px 0px;
}

/*******************************************************************************
        model admin right part, especially forms
*******************************************************************************/
.silvercart-fieldgroup {
    
}
.silvercart-fieldgroup .fieldgroup {

}
.silvercart-break {
    color: #ff0000;
}
.silvercart-break:after,
.silvercart-fieldgroup .fieldgroup:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.silvercart-fieldgroup .fieldgroupField {
    float: left;
    padding: 6px 12px 6px 0;
    min-width: 140px;
}
.silvercart-fieldgroup .fieldgroupField label {
    display: block;
}
.silvercart-fieldgroup .fieldgroupField select {
    
}
.silvercart-fieldgroup .fieldgroupField input[type="checkbox"] {
    float: left;
    margin: 0 4px 0 0;
    height: 34px;
}
.silvercart-fieldgroup .fieldgroupField input[type="checkbox"] ~ label {
    line-height: 34px;
    white-space: nowrap;
}
.silvercart-form-highlight,
.silvercart-field-group {
    background: #E9E9E9;
    padding:    6px;
    margin:     6px 0;
}

.right form .field span.readonly.silvercartmoney,
.right form input.silvercartmoney,
.right form .field.silvercartmoney input.text {
    width: 100px;
    text-align: right;
}
.right form .field span.readonly.silvercartmoney {
    display: inline-block;
}

.silvercart-batch-option-callback-target {
    display: inline-block;
}

.right form .silvercart-batch-option-callback-target .field label.left,
.right form .silvercart-batch-option-callback-target .field .middleColumn {
    display:    inline-block;
    width:      auto;
}


.importSpec {
    
}
.importSpec dl {
    
}
.importSpec dt {
}
.importSpec dd {
    margin-left: 24px;
}
.importSpec dd:before {
    content: '(';
}
.importSpec dd:after {
    content: ')';
}

.sc-left {
    float: left;
}
.padd {
    padding: 12px;
}


.right form .TableListField tr.is-not-seen,
.right form .TableListField tr.is-not-seen td,
.right form .TableListField tr.is-not-seen td a {
    background-color: #63C5FF;
    color: #fff;
}
.right form .TableListField tr.is-not-seen:hover,
.right form .TableListField tr.is-not-seen:hover td,
.right form .TableListField tr.is-not-seen:hover td a {
    background-color: #91D6FF;
}

.ui-autocomplete {
    max-height: 200px;
    overflow: auto;
}

.admin-quick-preview {
    
}
.admin-quick-preview th {
    text-align: left;
}
.admin-quick-preview td {
    text-align: right;
    padding: 3px 12px;
}

.field.important {
    background: #f00;
}
.field.important label {
    color: #fff !important;
}

.silvercart-formfield-label {
    color: #666;
    padding: 2px 0px 8px 8px;
}

.silvercart-permanent-notification {
    position:                   absolute;
    right:                      24px;
    top:                        12px;
    z-index:                    1000;
    background:                 #000;
    opacity:                    0.7;
    -webkit-border-radius:      6px;
    border-radius:              6px;
    padding:                    6px 12px 12px 12px;
    width:                      250px;
    color:                      #fff;
    filter:                     alpha(opacity=70);
}
.silvercart-permanent-notification.hidden {
    display:                    none;
}
.silvercart-permanent-notification h2 {
    color:                      #fff;
    font-size:                  16px;
    line-height:                1.5;
}
.silvercart-permanent-notification p {
    color:                      #fff;
    font-size:                  12px;
    line-height:                1.2;
}
.silvercart-permanent-notification .btn-close {
    color:                      #fff;
    position:                   absolute;
    right:                      6px;
    top:                        3px;
    font-size:                  14px;
    cursor:                     pointer;
}