
.grid-batch-action-button {
    position: relative;
    display: inline-block;
    border-left: 1px solid #ced5e1;
    border-right: 1px solid #ced5e1;
}
.grid-batch-action-callback-target {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 4px;
}

#grid-batch-action-loading-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    background-image: url('/resources/vendor/silvercart/silvercart/client/img/loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.grid-batch-action-button .field .chosen-container-single .chosen-single {
    height: 32px;
}