.silvercartmultidropdown .silvercartmultidropdown-selection {
    margin: 6px 0 0;
}
.silvercartmultidropdown .silvercartmultidropdown-selection .silvercartmultidropdown-selection-entry {
    padding: 3px 0;
    border-bottom: 1px solid #d0d3d5;
    border-top: 1px solid #f0f3f5;
}
.silvercartmultidropdown .silvercartmultidropdown-selection .silvercartmultidropdown-selection-entry:last-child {
    border-bottom: none;
    margin-bottom: -8px;
}
.silvercartmultidropdown .silvercartmultidropdown-selection .silvercartmultidropdown-selection-entry:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.silvercartmultidropdown .silvercartmultidropdown-selection .silvercartmultidropdown-selection-left,
.silvercartmultidropdown .silvercartmultidropdown-selection .silvercartmultidropdown-selection-right {
    display: inline;
}
.silvercartmultidropdown .silvercartmultidropdown-selection .silvercartmultidropdown-selection-left {
    
}
.silvercartmultidropdown .silvercartmultidropdown-selection .silvercartmultidropdown-selection-right {
    padding-left: 12px;
    text-align: right;
    float: right;
}
.silvercartmultidropdown .silvercartmultidropdown-selection .silvercartmultidropdown-selection-right label {
    padding: 0 12px 0 3px;
}